@media screen and (max-width: 1199px){
	.img-box-cont {
		height: 300px;
	}
	.description-box-cont{
		width: 210px;
	}
	.box-cont{
		height: 300px;
	}
	.name-cinema{
		margin-top: 5px;
	}
	.description-name-cont{
		height: 177px;
		margin-bottom: 0;
	}
	.description-cinema{
		font-size: 12px;
	}
	.cinema-descript-cont{
		font-size: 11px;
	}
	.cinema-icon{
		font-size: 11px;
	}
	.link-cinema-open{
		right: 0px;
    	bottom: 37px;
	}
	.img-box-page{
		width: 208px;
	}
	.page-descript-box, .page-category-cinema, .page-rating-cinema, .page-time-cinema, .page-quality-cinema, .page-age-cinema{
		width: 215px;
	}
	.comment-box-name, .trailer-name{
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 991px){
	.img-box-page{
		display: none;
	}
	.search{
		width: 100px;
	}
	.menu a{
		font-size: 12px;
	}
	.menu-dubl{
		line-height: 10px;
		font-size: 8px;
	}
	.slick-slider{
		height: 220px;
	}
	.img-box-cont{
		height: 220px;
	}
	/*.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 15px;
  	}*/
  	.box-cont{
		height: 220px;
	}
  .year-cinema, .time-cinema-sidebar{
  	display: none;
  }
  .img-cont-sidebar{
  	float: none;
  	margin: 0 auto;
  }
  .cont-sidebar-box{
  	float: none;
  	text-align: center;
  }
  .box-txt-sidebar{
  	text-align: center;
  }
  .img-cont-sidebar {
  	width: 56px;
  	box-shadow: 0 0 23px rgba(0,0,0,0.9);
  }
  .box-cont-sidebar{
  	border-bottom: 1px solid #d6d6d626;
  	margin-bottom: 15px;
    padding-bottom: 10px;
  }
  .img-box-page{
  	width: 160px;
  }
  .description-name-page{
  	text-align: center;
  }
  .link-raiting{
    width: 148px;
    height: 47px;
	}
}
@media screen and (max-width: 767px) {
	.box-container-page{
		margin: 0 auto;
	    max-width: 385px;
	}
	.border-rig{
  		border: none;
  	}
  	.video-player-box{
  		background: #000;
  	}
  	.img-box-page{
  		float: left;
  		margin: 0 25px 0 0;
  		display: inherit;
  	}
  	.page-descript-box{
  		width: 195px;
  		text-align: left;
  	}
	.box-cont{
		height: 253px;
	}
	.img-box-cont{
	  height: 253px;
	}
	.burger {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    top: 4px;
	    right: 15px;
	    border-radius: 4px;
	    z-index: 9999;
	}
	.burger span {
	  position: relative;
	  margin-top: 9px;
	  margin-bottom: 9px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: -15px;
	  margin-top: -1.5px;
	}
	.burger span, .burger span::before, .burger span::after {
	  display: block;
	  width: 30px;
	  height: 3px;
	  background-color: #9e9e9e;
	  outline: 1px solid transparent;
	  -webkit-transition-property: background-color, -webkit-transform;
	  -moz-transition-property: background-color, -moz-transform;
	  -o-transition-property: background-color, -o-transform;
	  transition-property: background-color, transform;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  -o-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	.burger span::before, .burger span::after {
	  position: absolute;
	  content: "";
	}
	.burger span::before {
	  top: -9px;
	}
	.burger span::after {
	  top: 9px;
	}
	.burger.clicked span {
	  background-color: transparent;
	}
	.burger.clicked span::before {
	  -webkit-transform: translateY(9px) rotate(45deg);
	  -moz-transform: translateY(9px) rotate(45deg);
	  -ms-transform: translateY(9px) rotate(45deg);
	  -o-transform: translateY(9px) rotate(45deg);
	  transform: translateY(9px) rotate(45deg);
	}
	.burger.clicked span::after {
	  -webkit-transform: translateY(-9px) rotate(-45deg);
	  -moz-transform: translateY(-9px) rotate(-45deg);
	  -ms-transform: translateY(-9px) rotate(-45deg);
	  -o-transform: translateY(-9px) rotate(-45deg);
	  transform: translateY(-9px) rotate(-45deg);
	}
	.burger.clicked span:before, .burger.clicked span:after {
	  background-color: #ffffff;
	}
	.burger:hover {
	  cursor: pointer;
	}

		/*  NAV
	========================================== */
	nav {
	  background-color: #2a2a2a;
	  position: fixed;
	  z-index: 9;
	  top: 0;
	  right: 0;
	  height: 100%;
	  max-width: 515px;
	  width: 100%;
	  padding: 50px 40px 60px 40px;
	  overflow-y: auto;
	  -webkit-transform: translateX(100%);
	  -moz-transform: translateX(100%);
	  -ms-transform: translateX(100%);
	  -o-transform: translateX(100%);
	  transform: translateX(100%);
	  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
	nav.show {
	  -webkit-transform: translateX(0px);
	  -moz-transform: translateX(0px);
	  -ms-transform: translateX(0px);
	  -o-transform: translateX(0px);
	  transform: translateX(0px);
	  z-index: 999;
	}
	nav.show ul.main li {
	  -webkit-transform: translateX(0px);
	  -moz-transform: translateX(0px);
	  -ms-transform: translateX(0px);
	  -o-transform: translateX(0px);
	  transform: translateX(0px);
	  opacity: 1;
	}
	nav.show ul.main li:nth-child(1) {
	  transition-delay: 0.15s;
	}
	nav.show ul.main li:nth-child(2) {
	  transition-delay: 0.3s;
	}
	nav.show ul.main li:nth-child(3) {
	  transition-delay: 0.45s;
	}
	nav.show ul.main li:nth-child(4) {
	  transition-delay: 0.6s;
	}
	nav.show ul.main li:nth-child(5) {
	  transition-delay: 0.75s;
	}
	nav.show ul.main li:nth-child(6) {
	  transition-delay: 0.9s;
	}
	nav.show ul.main li:nth-child(7) {
	  transition-delay: 1.05s;
	}
	nav.show ul.main li:nth-child(8) {
	  transition-delay: 1.2s;
	}
	nav.show ul.main li:nth-child(9) {
	  transition-delay: 1.35s;
	}
	nav.show .about,
	nav.show .social,
	nav.show ul.sub {
	  -webkit-transform: translateY(0px);
	  -moz-transform: translateY(0px);
	  -ms-transform: translateY(0px);
	  -o-transform: translateY(0px);
	  transform: translateY(0px);
	  opacity: 1;
	  transition-delay: 0.85s;
	}
@media (min-width: 667px) {
	nav {
		padding: 120px 90px 70px 90px;
	}
}
	nav ul.main {
	  list-style-type: none;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: flex-start;
	}
	nav ul.main li {
	  margin-bottom: 20px;
	  -webkit-transform: translateX(40px);
	  -moz-transform: translateX(40px);
	  -ms-transform: translateX(40px);
	  -o-transform: translateX(40px);
	  transform: translateX(40px);
	  opacity: 0;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	nav ul.main li:last-of-type {
	  margin-bottom: 0px;
	}
	nav ul.main li a {
	  color: #ffffff;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-size: 1.1rem;
	  display: block;
	  letter-spacing: 5px;
	  font-weight: 600;
	  padding: 10px 0;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	nav ul.main li a span {
	  color: #ff5353;
	}
	nav ul.main li a:hover {
	  color: #ff9a9a;
	}
	nav .about {
	  margin-top: 40px;
	  -webkit-transform: translateY(30px);
	  -moz-transform: translateY(30px);
	  -ms-transform: translateY(30px);
	  -o-transform: translateY(30px);
	  transform: translateY(30px);
	  opacity: 0;
	  -webkit-transition: all 0.4s ease;
	  -moz-transition: all 0.4s ease;
	  -o-transition: all 0.4s ease;
	  transition: all 0.4s ease;
	  display: inherit;
	}
	nav .about p {
	  color: #ffffff;
	  font-size: 1.05rem;
	  letter-spacing: 0.5px;
	  line-height: 170%;
	}
	nav .social {
	  margin-top: 40px;
	  position: relative;
	  padding-bottom: 30px;
	  -webkit-transform: translateY(30px);
	  -moz-transform: translateY(30px);
	  -ms-transform: translateY(30px);
	  -o-transform: translateY(30px);
	  transform: translateY(30px);
	  opacity: 0;
	  -webkit-transition: all 0.4s ease;
	  -moz-transition: all 0.4s ease;
	  -o-transition: all 0.4s ease;
	  transition: all 0.4s ease;
	}
	nav .social:after {
	  content: "";
	  width: 230px;
	  height: 2px;
	  background-color: #b7ac7f;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	}
	nav .social a {
	  display: inline-block;
	  width: 30px;
	  height: 30px;
	  margin-right: 25px;
	}
	nav .social a:last-of-type {
	  margin-right: 0px;
	}
	nav .social a:hover svg path,
	nav .social a:hover svg circle {
	  fill: #b7ac7f;
	}
	nav .social a svg {
	  width: 100%;
	  height: 100%;
	}
	nav .social a svg path,
	nav .social a svg circle {
	  fill: #ffffff;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	nav ul.sub {
	  list-style-type: none;
	  margin-top: 40px;
	  -webkit-transform: translateY(30px);
	  -moz-transform: translateY(30px);
	  -ms-transform: translateY(30px);
	  -o-transform: translateY(30px);
	  transform: translateY(30px);
	  opacity: 0;
	  -webkit-transition: all 0.4s ease;
	  -moz-transition: all 0.4s ease;
	  -o-transition: all 0.4s ease;
	  transition: all 0.4s ease;
	}
	nav ul.sub li {
	  margin-bottom: 10px;
	}
	nav ul.sub li:last-of-type {
	  margin-bottom: 0px;
	}
	nav ul.sub li a {
	  color: #ffffff;
	  letter-spacing: 1px;
	  font-size: 0.9rem;
	  text-decoration: none;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	nav ul.sub li a:hover {
	  color: #b7ac7f;
	}

	/*  OVERLAY
	========================================== */
	.overlay {
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  width: 100%;
	  height: 100%;
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	  background-color: #3e3e3e;
	  opacity: 0;
	  visibility: hidden;
	}
	.overlay.show {
	  opacity: 0.8;
	  visibility: visible;
	}

  	.form-box{
  		right: auto;
  		left: 0;
  	}
}
@media screen and (max-width: 575px){
	.img-box-page{
		width: 165px;
	}
	h1{
		font-size: 26px;
	}
	h3{
		font-size: 1.3em;
	}
	.name-descript-cont{
		font-size: 12px;
	}
	.page-descript-cont{
		font-size: 15px;
	}
	.img-box-cont img{
		width: 50%;
		float: right;
	}
	.description-box-cont{
		bottom: 0;
		width: 45%;
	}
	.link-cinema-open{
		right: -36px;
    	bottom: 13px;
	}
	.feat-item-box, .category-cinema, .rating-cinema, .time-cinema, .quality-cinema{
		border: none;
		display: inherit;
		width: auto;
	}
	.description-name-cont{
		height: 155px;
	}
	.img-cont-sidebar{
		width: 100px;
		float: left;
	}
	.year-cinema, .time-cinema-sidebar{
  		display: inline-block;
  		text-align: center;
  	}
  	.play-btn::before{
  		display: none;
  	}
  	.logo{
  		margin: 9px auto;
  	}
  	.description-cinema{
  		text-align: left;
    	line-height: 21px;
  	}
  	.box-cont-sidebar{
  		border: none;
  	}
  	.head-logo{
  		height: 50px;
  	}


}
@media screen and (max-width: 519px){
	.slick-slider{
		height: 160px;
	}
}
@media screen and (max-width: 432px){
	.img-box-page{
		width: 143px;
	}
	.img-box-page{
		margin: 0 18px 0 0;
	}
	.name-cinema-page{
		margin-bottom: 12px;
	}
	.page-descript-cont{
		font-size: 13px;
	}
	.name-descript-cont{
		font-size: 11px;
	}
	.page-descript-box{
		width: 166px;
	}
	.box-container-page{
		width: 327px;
	}
	.page-descript-box, .page-category-cinema, .page-rating-cinema, .page-time-cinema, .page-quality-cinema, .page-age-cinema{
		width: 165px;
	}
}
@media screen and (max-width: 384px){
	
}
@media screen and (max-width: 369px){
	.slick-slider{
		height: 131px;
	}
}