@media screen and (max-width: 1200px){
	.container {
		width: 1000px;
	}
	.grid-item {
		width: 240px;
		height: 170px;
		margin: 5px;
	}
	.grid-item--width2 {
		width: 240px;
		height: 350px;
	}
	.grid-item--width2 img{
		object-fit: cover;
		width: 100%;
	    height: 500px;
	    border-radius: 3px;
	}
	.img-box-cont{
	    bottom: 6px;
	    height: 158px;
	}
	.txt-box-cont{
		margin: 52px 0 30px 0;
    	font-size: 21px;
    	width: 160px;
	}
	.lnk-box-cont{
		margin: 0px 0 0 37px;
	}
	.grid-item-maps{
		width: 500px;
	}
}
@media screen and (max-width: 1000px){
	.container {
		width: 750px;
	}
	.grid-item-maps{
		width: 375px;
	}
}
@media screen and (max-width: 800px){
	.container {
		width: 500px;
	}
	.grid-item-maps{
		width: 100%;
	}
}
@media screen and (max-width: 600px){
	.container {
		max-width: 100%;
	}
	.grid-item {
		width: 100%;
		height: 170px;
		margin: 5px 0;
	}
	.grid-item--width2 {
		width: 100%;
		height: 360px;
	}
	.txt-box-cont{
		width: 245px;
		font-size: 30px;
	}
	.lnk-box-cont{
		margin: 0px 0 0 77px;
	}
	.contacts-info{
		text-align: center;
	}
	.info-cooperation {
		text-align: center;
		padding: 0 5px;
	}
	.link-cooperation{
    	width: 100%;
		text-align: center;
		display: inline-block;
		padding: 13px 0px;
	}
	.number-phone{
		text-align: center;
	}
	.number-phone p{
		border: none;
		padding: 0;
		margin: 0 0 10px 0;
		display: inherit;

	}
	.contacts-cooperation{
		text-align: center;
		display: inherit;
	}
}
@media screen and (max-width: 460px){
	.txt-cooperation{
		display: inherit;
	    border: none;
	    padding-right: 0; 
	    margin: 0 0 10px 0;
	}
}