*{
	margin: 0;
	padding: 0;
	font-weight: 100;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background: #ececec;

}
h1 {
    font-size: 61px;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    font-size: 15px;
    color: #797979;
    text-align: center;
}
h3 {
	text-align: center;
	padding: 1% 0;
}
nav {
	text-align: center;
	font-size: 15px;
}
nav li{
	display: inline-block;
	margin: 15px;
}
nav a{
	color: #fff;
	padding: 16px;
	text-decoration: none;
}
nav a:hover {
	text-decoration: none;
	color: #c5c5c5;
}
.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.header {
	position: relative;
	/*background-color: #f5f5f5;*/
	background: url(../img/maxresdefault.jpg) no-repeat center;
	height: 100vh;
	overflow: hidden;
}
.header-page{

}

.navigation {
	background-color: #131313;
	height: 48px;
	width: 100%;
	position: fixed;
	z-index: 999;
	transition: 0.5s;
}
.animate-menu{
	height: 100vh;
	overflow: hidden;
}
.animate-nav {
    display: inherit;
    padding-top: 23vh;
    font-size: 24px;
}
.animate-nav li {
    display: inherit;
    margin: 0;
    padding: 18px;
}
.head-info {
	width: 100%;
}
.nane-company {
	color: red;
}

.bg-overlay2{
	background: url(../img/overlay-pattern.png) rgba(70, 70, 70, 0.44);
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
.info-txt{
	margin: 25% 0 0 0;
}

/*прайс*/
.price{
	background: #f9f9f9;
}
.grid{
	margin-bottom: 10px;
	margin-top: 10px;
}
.grid-item--width2 img{
	object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
.grid-item {
	width: 380px;
	height: 250px;
	margin: 10px; 
	border-radius:3px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
	background-color: #dcdcdc;
    
	overflow: hidden;
}
.grid-item--width2 { width: 380px;height: 520px;}

.img-box-cont{
	position: absolute;
    bottom: 12px;
    right: 0;
    height: 228px;
}

.txt-box-cont {
    margin: 110px 0 30px 0;
    font-size: 26px;
    width: 200px;
    text-align: center;
    color: #252525;
}
.lnk-box-cont {
	text-decoration: none;
	color: #000;
	margin: 0px 0 0 58px;
	padding: 10px 30px;
	background-color: #1ab5f1;
	border-radius: 3px;
}

/*contacts*/
.contacts{
	/*height: 100vh;*/
	background: #ecedf2;
}
.contacts-nav{
	height: 30px;
}
button{
	outline: 0 !important;
	height: 30px;
	width: 150px;
	border: none;
	cursor: pointer;
}
.contacts-cooperation{
	transition: 0.5s;
    background-color: #53bce4;
}
.comments-cooperation{
	transition: 0.5s;
    background-color: #53bce4;
}
.contacts-info-box {
	margin-bottom: 30px;
}
.contacts-cooperation p, .comments-cooperation p{
	font-size: 13px;
	text-transform: uppercase;
    text-align: center;
}
.contacts-cooperation:hover, .comments-cooperation:hover{
	background-color: #0090c7;
}
.fa-phone,.fa-comments {
	font-size: 35px;
	color: #000;
	margin: 30px 0 5px 0px;
}
.op-link{
	transition-duration: 0.9s;
	bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.contacts-info{
	margin: 30px 0 20px 0;
}
.txt-cooperation{
	color: #ff7681;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	border-right: 1px solid #cecece;
	padding-right: 20px;
	margin-right: 20px;
}
.email-link{
	display: inline-block;
	text-transform: uppercase;
}
.email-link a{
	color: #2b2b2b;
}
.email-link p{
	display: inline-block;
	margin-left: 5px;
	font-weight: 600;
	font-size: 15px;
}
.info-cooperation{
	margin-bottom: 30px;
	font-size: 16px;
	color: #000;
}
/*.link-cooperation{
	text-decoration: none;
    color: #000;
    padding: 8px 40px;
    background-color: #1ab5f1;
    border-radius: 3px;
}*/
.box-contacts-info{
	margin: 50px 0 20px 0;
	color: #000;
}
.number-phone p{
	display: inline-block;
	border-right: 1px solid #cecece;
	padding-right: 20px;
    margin-right: 20px;
}
.fa-map-marker{
	color: #ff7581;
}
.grid-maps{
	position: relative;
}

.grid-item-maps{
	width: 600px;
	height: 300px;
	overflow: hidden;
	float: left;
}
.grid-item-maps img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info-company {
	font-size: 14px;
	margin: 20px 5px;
	color: #131313;
}
/*Comments*/
.contact-box{
	position: relative;
	overflow: hidden;
}
.cont-call{
	background-color: #f3f3f3;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition-duration: 0.9s;
	position: absolute;
}
.cont-call-vis {
	opacity: 1;
	position: inherit;
}

.box-slide-comments img{
	width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin: 40px auto 40px auto;
}
.comments-txt{
	text-align: center;
    font-size: 18px;
    line-height: 32px;
    padding: 0px 4% 45px 4%;
    color: ##2f2f2f;
}
.comments-name {
	text-align: center;
    margin-bottom: 25px;
    font-size: 19px;
    font-weight: 600;
    color: #ff7581;
}


/*Footer*/
footer{
	height: 120px;
	background: #bbbbbb;
}
.box-time-company{
	float: left;
    margin: 44px 0 0 15px;}
.time-company{
	font-size: 20px;
}
.boss-company{
	font-size: 11px;
	text-transform: uppercase;
	color: #9a9a9a;
}
.social-network{
	float: left;
	padding: 42px 0 0 0;
	margin-left: 40px;
}
.vk-link{
	font-size: 20px;
	color: #009fff;
    float: left;
    padding: 8px 9px 8px 9px;
}
.inst-link{
	font-size: 20px;
	color: #f772ff;
	padding: 9px 11px 9px 11px;
    float: left;
}
.box-info-company{
	float: left;
	margin-left: 15px;
	margin: 51px 10px 0 100px;
	font-size: 16px;

}
.box-info-company p{
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #cecece;
}
.box-vk, .box-insta{
	background-color: #00294e;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

/*Content*/

.preview{
	height: 540px;
}
.preview img{
	margin-top: 110px;
    float: left;
    width: 392px;
    height: 392px;
    object-fit: cover;
}
.preview-txt p{
	color: #3c3c3c;
	text-align: center;
	border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
    height: 120px;
}
.preview h3{
	color:#000000;
	padding: 4% 0;
	font-size: 24px;
	text-transform: uppercase;
}
.preview-txt{
	float: left;
    display: inline-block;
    width: 700px;
    margin: 115px 0 0 71px;
    padding-bottom: 35px;
}
.grid-cont {
	margin-bottom: 40px;
}
.grid-item-cont{
	width: 230px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
}
.link-brend{
	padding: 138px 0 0 0;
}
svg{
	width: 80%;
    height: 75px;
    padding: 38px 23px;
    fill: #505050;
    transition: 0.3s;
}
svg:hover {
	fill: #0028a9;
}
.popular {
	float: left;
    margin-left: 131px;
}
.popular a{
	border-radius: 50px;
}
.popular-box{
	width: 139px;
    height: 40px;
	background: rgba(0, 80, 195, 0.52);
	display: inline-block;
	float: left;
    margin: 3px;
    border-radius: 50px;
}
.popular-box p{
	margin: 11px 10px;
    text-align: center;
    color: #ffffff;
}
.popular-name {
	display: inline-block;
    width: 700px;
    margin: 0 0 20px 71px;
    text-align: center;
    color: #000000;
}

/*page model*/

.link-model{
	text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.grid-item-cont p{
	color: #424242;
	text-align: center;
	margin: 60px 0;
	font-size: 21px;
	font-weight: 900;
}











.menu-wrapper {
    position: absolute;
    top: -3px;
    right: 0;
    margin: 0px 18px;
    width: 33px;
    height: 0px;
    cursor: pointer;
    display: none;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 33px;
  height: 2px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(25px);
  background: white;
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
