body {
    margin: 0;
    padding: 0;
    position: relative;
}

.main-page {
    background: #000 url(../img/bg-main-page.jpg) top center;
    background-size: cover;
    height: 100vh;
}

.portfolio {
    background: url(../img/bg-portfolio.jpg) top center;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.main-menu {
    width: 70px;
    margin: 0 auto;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
}

.information {
    position: absolute;
    text-align: center;
    top: 18%;
    right: 0%;
    left: 0%
    
}

h1 {
    color: #A5A3A3;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

h2 {
    color: #505050;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.clik-portf {
    display: inline-block;
    padding: 10px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    background-color:#AE431D;
    border-radius: 5px;
    transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
}

.clik-portf:hover {
    background-color: #A9A9A9;
    color: #000;
}

.content {
    
    background-color: #717171;
    
    
}