@font-face {
  font-family: "PFDin-r";
  src: url("../fonts/PFDinDisplayPro-Regular.woff");
}
@font-face {
  font-family: "PFDin-l";
  src: url("../fonts/PFDinDisplayPro-Light.woff");
}

*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "PFDin-r";
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 5px 0;
}
a{
	text-decoration: none;
}
h2{
	font-size: 30px;
	font-family: "PFDin-l";
	margin: 15px 0;
}
.top-head .container{
	display: flex;
	justify-content: space-between;
}
.top-head{
    height: 130px;
    display: flex;
    align-items: center;
}
.logo{
	display: flex;
    align-items: center;
}
.logo p{
	color: #8A8A8A;
	font-size: 14px;
	width: 200px;
}
.logo img{
	margin-right: 40px;
    width: 170px;
    height: 100%;
    object-fit: contain;
}
.top-head_contacts{
	display: flex;
	align-items: center;
}
.top-head_tel{
	margin-right: 25px;
}
.top-head_tel a{
	color: #2C3748;
	font-size: 28px;
}
.top-head_tel p{
	color: #8A8A8A;
	font-size: 14px;
	text-align: right;
	padding: 0;
}
.top-head_callback-btn{
	background: #2C3748;
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background 0.2s;
}
.top-head_callback-btn:hover{
	background: #f38600;
}





.bottom-head{
	background: #2C3748;
	height: 60px;
	display: flex;
}
.bottom-head nav{
	height: 100%;
	display: flex;
	align-items: center;
}
.bottom-head nav ul{
	display: flex;
}
.bottom-head nav li{
	list-style-type: none;
}
.bottom-head nav a{
	color: #fff;
	font-size: 18px;
	margin-right: 50px;
	padding: 10px 0;
	transition: color 0.2s;
}
.bottom-head nav a:hover{
	color: #ffb65b;
}




.menu-open{
	display: none;
    position: absolute;
    right: 15px;
    width: 40px;
    height: 30px;
    z-index: 2;
}
.hamburger__inner {
  	display: block;
	width: 32px;
	height: 4px;
	margin-top: 12px;
	background: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after {
	display: block;
	position: absolute;
	content: "";
	z-index: -1;
	width: 32px;
    height: 4px;
	background: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hamburger__inner::before {
  	top: 0;
}
.hamburger__inner::after {
  	top: 24px;
}

.hamburger--open .hamburger__inner {
  	background: none;
}
.hamburger--open .hamburger__inner::before, .hamburger--open .hamburger__inner::after {
  	top: 12px;
}
.hamburger--open .hamburger__inner::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger--open .hamburger__inner::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}





.prev{
	height: 470px;
	display: flex;
	align-items: center;
	border-bottom: 20px solid #eaeaea;
	position: relative;
}
.prev-title{
	color: #000;
	font-size: 2.8em;
	font-family: "PFDin-l";
    margin-bottom: 15px;
}
.prev-items-left p{
	color: #5a5a5a;
	font-size: 18px;
	padding: 0;
	font-family: "PFDin-l";
	font-weight: 100;
    width: 95%;
}
.prev-items-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.prev-item-img{
	margin-right: 25px;
}
.prev-item-img img{
	width: 100%;
}
.prev-write{
	background: #2C3748;
	font-size: 16px;
	padding: 12px 25px;
	cursor: pointer;
	color: #fff;
	transition: background 0.2s;
}
.prev-write:hover{
	background: #f38600;
}
@keyframes animFigureR-1 { 
	0%{ 
		transform: rotate(-142deg) translateY(0px);
	}
	40%{
		transform: rotate(-160deg) translateY(-10px);
	}
	100% { 
		transform: rotate(-150deg) translateY(-20px);
		}  
}
@keyframes animFigureR-2 { 
	0%{ 
		transform: rotate(-190deg) translateY(0px);
	}
	60%{
		transform: rotate(-180deg) translate(30px, -10px);
	}
	100% { 
		transform: rotate(-200deg) translate(20px, -20px);
		}  
}
.figure-right{
	border: 220px solid transparent;
    border-right: 207px solid #eaeaea;
    border-bottom: 231px solid #eaeaea;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 380px;
    z-index: -1;
}
.figure-right-1{
	border: 29px solid transparent;
    border-right: 33px solid #eaeaea;
    border-bottom: 24px solid #eaeaea;
    position: absolute;
    top: -225px;
    left: 94px;
    transform: rotate(-142deg);
    animation: 25s linear 0s infinite alternate animFigureR-1;
}
.figure-right-2{
	border: 41px solid transparent;
    border-right: 55px solid #eaeaea;
    border-bottom: 30px solid #eaeaea;
    position: absolute;
    top: -165px;
    left: 55px;
    transform: rotate(-190deg);
    animation: 25s linear 0s infinite alternate animFigureR-2;
}

@keyframes animFigureL { 
	0%{ 
		transform:   rotate(-190deg) translateY(0px);
	}
	50%{
		transform: scale(0.9) rotate(-200deg) translateY(-20px);
	}
	100% { 
		transform: scale(1.1) rotate(-195deg) translateY(-40px);
		}  
}
@keyframes animFigureL-1 { 
	0%{ 
		transform:translateY(0px) rotate(-315deg) translateX(0px) scale(1);
	}
	30%{
		transform:translateY(-10px) rotate(-320deg) translateX(-20px) scale(0.7);
	}
	100% { 
		transform:translateY(-20px) rotate(-260deg) translateX(-10px) scale(0.9);
		}  
}
@keyframes animFigureL-2 { 
	0%{ 
		transform:translateY(0px) rotate(-186deg) translateX(0px);
	}
	60%{
		transform:translateY(-10px) rotate(-200deg) translateX(-20px);
	}
	100% { 
		transform:translateY(20px) rotate(-190deg) translateX(-10px);
		}  
}
@keyframes animFigureL-3 { 
	0%{ 
		transform:translateY(0px) rotate(34deg) translateX(0px);
	}
	40%{
		transform:translateY(-10px) rotate(90deg) translateX(-20px);
	}
	100% { 
		transform:translate(20px, -0px) scale(0.5) rotate(34deg);
		}  
}
@keyframes animFigureL-4 { 
	0%{ 
		transform:rotate(178deg);
	}
	50%{
		transform:rotate(190deg);
	}
	100% { 
		transform:rotate(160deg);
		}  
}

.figure-left{
	border: 64px solid transparent;
    border-right: 67px solid #eaeaea;
    border-bottom: 60px solid #eaeaea;
    position: absolute;
    top: 118px;
    left: 137px;
    transform: rotate(-190deg);
	z-index: -1;
	animation: 25s linear 0s infinite alternate animFigureL;
}
.figure-left-1{
	border: 35px solid transparent;
    border-right: 31px solid #eaeaea;
    border-bottom: 39px solid #eaeaea;
    position: absolute;
    top: -59px;
    left: -111px;
    transform: rotate(-315deg);
    animation: 25s linear 0s infinite alternate animFigureL-1;
}
.figure-left-2{
	border: 27px solid transparent;
    border-right: 35px solid #eaeaea;
    border-bottom: 21px solid #eaeaea;
    position: absolute;
    top: -127px;
    left: 26px;
    transform: rotate(-186deg);
    animation: 25s linear 0s infinite alternate animFigureL-2;
}
.figure-left-3{
	border: 21px solid transparent;
    border-right: 21px solid #eaeaea;
    border-bottom: 21px solid #eaeaea;
    position: absolute;
    top: -97px;
    left: -60px;
    transform: rotate(34deg);
    animation: 25s linear 0s infinite alternate animFigureL-3;
}
.figure-left-4{
	border: 19px solid transparent;
    border-right: 27px solid #eaeaea;
    border-bottom: 13px solid #eaeaea;
    position: absolute;
    top: -56px;
    left: 100px;
    transform: rotate(178deg);
    animation: 25s linear 0s infinite alternate animFigureL-4;
}




.price{
    padding: 120px 0;
}
.price__text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.price__text h2{
	margin-top: 0;
}
.price__text p{
	font-size: 16px;
	color: #555555;
	padding: 0;
}
.price__text a{
	font-size: 16px;
    color: #fff;
    background: #2C3748;
    padding: 7px 23px;
    display: flex;
    width: max-content;
    margin-top: 30px;
    transition: background 0.2s;
}
.price__text a:hover{
	background: #f38600;
}
.price__box{
	display: flex;
	justify-content: flex-end;
}
.price__box-item{
	height: 400px;
    width: 250px;
    background: #EFEFEF;
    border: 1px solid #D6D6D6;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -92px 0 0;
    transition: 0.2s;
}
.price__box-item:last-child{
	margin: 0;
}
.price__box-item:hover {
    border: 1px solid #909090
}
.price__box-item:hover ~ .price__box-item {
    transform: translateX(60px);
}
.price__box-title{
	font-size: 29px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #000;
}
.price__box-desc{
	font-size: 14px;
	color: #9e9e9e;
	padding: 0;
}
.price__box-img{
	background: #F7F7F7;
    margin: -15px -15px;
    width: calc(100% + 30px);
    height: 180px;
    padding: 15px;
}
.price__box-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.form-callback{
	height: 300px;
	background: #eaeaea;
	border-radius: 0 0 180px 0;
	padding: 40px;
	display: flex;
	align-items: center;
}
.callback{
	margin-bottom: 20px;
}
.callback form{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.callback__item{
    width: calc(50% - 15px);
    margin: 10px 0;
}
.callback__title{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 7px;
}
.callback__inp{
	border: none;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	outline: none;
}
.callback__checkbox-wrap{
	display: flex;
	align-items: center;
}
.callback__checkbox-wrap p{
	color: #555555;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 15px;
}
.callback__checkbox{
	display: none;
}
.callback__checkbox-wrap label{
	cursor: pointer;
	padding-left: -10px !important;
}
#callback__submit{
	border: none;
    width: 100%;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background: #2C3748;
    cursor: pointer;
    transition: 0.2s;
}
#callback__submit:hover {
    background: #f38600;
}
.callback__checkbox-wrap input[type=checkbox] + label:before {
    content: '';
    font-size: 5px;
    width: 22px;
    height: 22px;
    background: #2C3748;
    color: #2C3748;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    transition: 0.4s;
}
.callback__checkbox-wrap input[type=checkbox]:checked + label:before{
    content: '\2714';
    font-size: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-right: 0px;
    width: 22px;
    height: 22px;
}
#callback__submit[disabled] {
	opacity: .9;
	cursor: unset !important;
}
#callback__submit[disabled]:hover{
	background: #2C3748;
}
.callback-text{
	padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.callback-text__title{
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.callback-text__desc{
	color: #555555;
	font-size: 16px;
	padding: 0;
}
.sale{
    padding: 110px 0;
}
.title-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}
.title-box h2{
	margin: 0;
}
.title-box a{
	color: #000;
	transition: 0.2s;
	font-size: 18px;
}
.title-box a:hover{
	text-decoration: underline;
}
.sale__item{
	margin: 15px 0;
}
.sale__item-content{
	background: #D6D6D6;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #fff;
	transition: 0.4s;
}
.sale__item .sale__item-content:hover{
	border: 1px solid #8a8a8a;
}
.sale__content-text{
	padding: 15px 20px 0 20px;
}
.sale__content-title{
	font-size: 24px;
    color: #1D1D1D;
    margin-bottom: 10px;
}
.sale__content-desc{
	font-size: 14px;
	color: #555555;
	margin-bottom: 10px;
	padding: 0;
}
.sale__content-time{
	color: #A8A8A8;
	font-size: 12px;
	margin-bottom: 15px;
}
.sale__content-img{
	height: 170px;
}
.sale__content-img img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
	background: #2C3748;
	padding: 70px 0;
}
.footer__logo img{
	width: 100%;
	height: auto;
}
.footer__logo{
	margin-bottom: 30px;
}
.footer__items-logo p{
	font-size: 14px;
	color: #D4D4D4;
	margin-bottom: 20px;
}
.footer__item-title{
	color: #fff;
	font-size: 24px;
	padding: 0;
	margin-bottom: 25px;
}
.footer__item-desc{
	font-size: 14px;
	color: #D4D4D4;
}
.footer__nav{
	border-bottom: 1px solid #34455F;
    padding-bottom: 35px;
    margin-bottom: 28px;
}
.footer__nav ul{
	display: flex;
	flex-wrap: wrap;
}
.footer__nav li{
	list-style-type: none;
	margin-right: 25px;
}
.footer__nav a{
	color: #D4D4D4;
	font-size: 14px;
	text-decoration: none;
	transition: 0.2s;
}
.footer__nav a:hover{
	color: #f38600;
}
.footer__selling-text .footer__item-title{
	margin-bottom: 10px;
}
.footer__contacts-wrap{
	display: flex;
	margin-bottom: 10px;
}
.footer__contacts-wrap p{
	padding: 0;
	font-size: 14px;
	color: #fff;
	margin-right: 10px;
}
.footer__contacts-wrap a{
	color: #f38600;
	font-size: 14px;
	transition: 0.2s;
}
.footer__contacts-wrap a:hover{
	color: #ffaa41;
}
.soc-vk{
	width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4A76A8;
    margin: 30px 0;
    transition: 0.2s;
}
.soc-vk:hover{
	background: #185ca9;
}
.soc-vk img{
	width: 18px;
	height: auto;
}
.btn-consultation{
	background: #242C38;
    font-size: 16px;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    width: max-content;
    transition: background 0.2s;
}
.btn-consultation:hover{
    background: #f38600;
}













.popup-callback{
	background: #000000cf;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.popup-callback-active{
	z-index: 999;
	opacity: 1;
}
.popup-callback__wrap{
	background: #eaeaea;
	padding: 25px;
	box-sizing: border-box;
	margin-bottom: 70px;
	transition: 0.3s;
}
.popup-callback-active .popup-callback__wrap{
	margin-bottom: 15px;
}
.popup-callback__wrap{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
	position: relative;
}
.popup-callback__wrap form{
	max-width: 350px;
}
.popup-callback__title{
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 10px;
}
.popup-callback__desc{
	margin-bottom: 15px;
	padding: 0;
	font-size: 14px;
	color: #383838;
}
.popup-callback__inp{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.popup-callback__inp p{
	font-size: 14px;
    color: #656565;
}
.popup-callback__inp input{
	height: 40px;
	font-size: 16px;
	padding: 0 15px;
	outline: none;
	border: none;
}
.popup-callback__inp textarea{
	padding: 15px;
	outline: none;
	border: none;
	resize: none;
	font-family: inherit;
	font-size: 16px;
}
.popup-callback__btn{
	border: none;
	width: 100%;
	height: 40px;
	margin: 20px 0 10px;
	background: #ff8f03;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	transition: 0.2s;
}
.popup-callback__btn:hover{
	background: #f38600;
}
.popup-callback__agreement{
	font-size: 12px;
    color: #9e9e9e;
}
.popup-callback__close{
	width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: -51px;
    cursor: pointer;
    transition: 0.2s;
}
.popup-callback__close:hover{
	transform: scale(0.9);
}
.popup-callback__close:before{
	content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    background: red;
    transform: rotate(135deg);
}
.popup-callback__close:after{
	content: "";
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    background: red;
    transform: rotate(45deg);
}













@media (min-width: 1350px){
	.container {
	    max-width: 1200px;
	}
}
@media (max-width: 1200px){
	.figure-right{
		display: none;
	}
	.figure-left{
		right: 137px;
		left: auto;
		top: -62px;
	}
	.footer__contacts-wrap{
		display: block;
	}
}
@media (max-width: 991px){
	.price__box-item:hover, 
	.price__box-item:hover ~ .price__box-item{
		transform: none;
	}
	.price__box{
		flex-wrap: wrap;
		justify-content: inherit;
	}
	.price__box{
		margin-top: 25px;
	}
	.price__box-item{
		margin: 0;
		width: 50%;
	}
	.price__text{
		margin-bottom: 35px;
	}
	.prev-item-img{
	    margin: 20px 0;
	}
	.prev-items-right{
		align-items: flex-start;
		flex-direction: column;
	}
	.bottom-head .container{
		display: flex;
		align-items: center;
		position: relative;
	}
	.menu-open{
		display: block;
	}
	.bottom-head nav{
		opacity: 0;
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 0;
    	overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background: #1b1b1b;
	    transition: 0.2s;
	    z-index: -1;
	}
	.open{
		opacity: 1 !important;
		z-index: 999 !important;
		width: 100% !important;
	}
	.bottom-head nav a{
		margin-right: 0;
		padding: 7px;
		display: flex;
		margin: 5px 0;
		font-size: 18px;
	}
	.bottom-head nav ul{
		flex-direction: column;
		align-items: center;
	}
	.top-head_tel a{
		font-size: 16px;
	}
	.logo p{
		display: none;
	}
	.logo img{
		margin-right: 0;
	}
	.top-head_callback-btn{
		font-size: 15px;
	}
	.bottom-head{
		height: 50px;
	}
	.footer__logo img{
		width: 150px;
	}
	.footer__logo{
		margin-bottom: 5px;
	}
	.footer__items-logo p{
		margin-bottom: 0px;
	}
	.footer__items-logo{
		margin-bottom: 30px;
	}
	.footer__nav ul{
		flex-direction: column;
	}
	.footer__nav li{
	    margin-bottom: 15px;
	}
	.footer__items-nav{
		margin-bottom: 50px;
	}
}
@media (max-width: 767px){
	.top-head_callback-btn{
		display: none;
	}
	.top-head_tel a{
		font-size: 21px;
	}
	.top-head_tel{
		margin-right: 0;
	}
	.prev-title{
		font-size: 2em;
	}
	.prev-items-left p{
		font-size: 16px;
	}
	.prev-write{
		font-size: 14px;
		padding: 7px 40px;
	}
	.prev{
	    padding: 60px 0;
	    height: auto;
	}
	.form-callback{
		height: auto;
		padding: 80px 0px;
	}
	.row-rev{
		flex-direction: column-reverse;
	}
	.callback-text__title{
		font-size: 20px;
	}
	.callback-text__desc{
		font-size: 14px;
		max-width: 400px;
	}
	.callback-text{
		margin-bottom: 30px;
		padding-left: 15px;
	}
}
@media (max-width: 575px){
	.price__box-item{
	    width: 100%;
	    height: auto;
	    margin-bottom: 15px;
	    flex-direction: row;
	}
	.price__box-img{
		margin: -15px -15px -15px 15px;
		width: calc(100% + 90px);
		height: calc(100% + 30px);
	}
	.price__box-title{
		font-size: 21px;
	    margin-top: 0;
	    margin-bottom: 10px;
	}
	.price{
	    padding: 40px 0;
	}
	.callback__item{
		width: 100%;
	}
	.form-callback{
		border-radius: 0 0 63px 0;
		padding: 38px 0px;
	}
	.popup-callback__close{
	    right: 0px;
	}
	.popup-callback {
	    bottom: auto;
	    height: 100vh;
	    overflow: scroll;
	    display: block;
	    margin: 0 auto;
	}
}
@media (max-width: 400px){
	.logo img{
		width: 100px;
	}
	.top-head_tel p{
		font-size: 12px;
	}
	.top-head_tel a{
		font-size: 18px;
	}
	.top-head{
		height: 85px;
	}

}