@media (max-width: 1200px){
	.lk-content__info-select{
		flex-wrap: wrap;
	}
	.lk-content__select-btn{
		min-width: auto;
		width: 33.333333%;
		border: 2px solid #DDDDDD;
		margin-bottom: 5px;
		text-align: center;
	}
	.lk-content__info-select{
		border: none;
	}
	.crumbs-head{
	    margin-bottom: 25px;
	}
	.reg-form{
		margin-top: 25px;
	}
	.reg-form__title{
		text-align: center;
	}
	.standart-form__contract{
	    justify-content: end;
	    flex-direction: column;
	}
	.standart-form__contract-acept{
		margin-bottom: 25px;
	}
	.standart-form__contract{
		padding-right: 15px; 
	}
	.standart-form__info p{
		text-align: center;
	}
}
@media (max-width: 991px){
	.head-login__top-cont{
		margin-bottom: 15px;
		justify-content: end;
	}
	.head-login__top-nav{
		
	}
	.head-login__bottom{
		width: 265px;
	    position: fixed;
	    left: -300px;
	    bottom: 0;
	    top: 0;
	    z-index: 100;
	    padding: 15px 0;
	}
	.head-login__top-nav{
		display: none;
	}
	.head-login__top{
		padding-top: 0;
	}
	.head-login__top-cont{
		margin: 15px 0;
	}
	.burger{
		display: flex;
	}
	.head-login__row{
		position: relative;
		align-items: center;
	} 
	.lk-sidebar__links:after, 
	.lk-sidebar__links a:before{
		display: none;
	}
	.lk-sidebar{
		border: none;
	    height: 35px;
	    overflow: hidden;
	    margin-bottom: 10px;
	}
	.account-slide{
		height: auto;
	}
	.link-active{
		background: none;
		color: #009028 !important;
		text-decoration: underline !important;
	}
	.lk-sidebar__title{
		font-size: 16px;
	}
	.lk-sidebar__title{
		padding: 0px 15px;
		height: 35px;
		background: #009028;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.lk-sidebar__title:after{
		position: static;
		width: 15px;
		height: 17px;
		background: url(../img/svg/arrow-right-white.svg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.lk-sidebar__links{
		padding-bottom: 0;
		background: #f5f5f5;
		padding: 0 15px;
	}
	.lk{
		padding-top: 0;
		margin-bottom: 50px;
	}
	.head-login__top-phone{
		padding-bottom: 7px;
	}
	.lk-content__title-green{
		text-transform: uppercase;
		font-family: "Raleway-sb";
	}
	.lk-content__desc{
	    margin-bottom: 40px
	}
	.lk-content__item-img{
		height: 35px
	}
	.lk-content__item-wrap p{
		font-size: 14px;
	}
	.lk-content__item-wrap{
		min-height: 120px;
	}
	.footer__item{
		margin-bottom: 50px;
	}
	.sale-prew__item-title{
		font-size: 16px;
	}
	.popup-locat__item{
		width: 50%;
	}
	.head-login__bottom-logo a{
		width: 100px;
	}
	.head-login__bottom-logo{
		margin-bottom: 15px;
	}
	.head-login__bottom-form{
		margin-bottom: 15px;
	}
	.head-login__bottom-form form{
		margin-left: 0;
	}
	.head-login__bottom-lk, 
	.head-login__bottom-cart{
	     justify-content: end; 
	     margin-bottom: 15px;
	}
	.head-login__bottom-lk-img, 
	.head-login__bottom-cart-img{
		width: 17px;
    	height: 37px;
	}
	.order-selection__item-table tr td:nth-child(1) {
	    width: 60%;
	}
	.order-selection__item-table tr td:nth-child(2) {
	    width: 25%;
	}
	.order-selection__item-table tr td:nth-child(3) {
	    width: 15%;
	}
	.order-selection__item-table th{
		font-size: 14px;
	}
	.close-nav{
		display: block;
	}
	.lk-content__title-wrap{
		flex-direction: column;
		align-items: end;
		margin-bottom: 25px;
	}
	.menu-active{
		left: 0px !important;
	}

	/*стили для промо страниц__________________________*/
	.header-authorization__logo img{
		height: 35px;
    	width: 100px;
	}
	.header-authorization{
	    height: 60px
	}
	.header-authorization__nav{
		width: 265px;
	    position: fixed;
	    left: -300px;
	    bottom: 0;
	    top: 0;
	    z-index: 100;
	    padding: 15px 0;
	    background: #2b2b2b;
	    padding: 15px 15px;
	    transition: 0.2s;
	}
	.header-authorization__nav ul{
	    flex-direction: column;
	}
	.header-authorization__nav li {
		border-bottom: 1px solid #4a4a4a;
	    margin-right: 0px;
	}
	.header-authorization__nav a{
		font-size: 16px;
		padding: 10px 8px;
	}
	.header-authorization__brdr{
		margin-top: 20px;
	}
	.header-authorization__brdr:after{
		left: 0px;
    	right: 0px;
	}
	.login-form{
		min-width: auto;
	}
	.authorization-content__reg{
		border: none;
	}
	.authorization-content__login{
		padding-right: 15px;
	}
	.login-form__title{
		text-align: center;
	}
	.add-region__item{
	    flex-direction: column;
	    align-items: end;
	}
	.add-region__item>div{
		margin-bottom: 10px;
	}
	.add-region__remove{
		bottom: 0;
		right: auto;
		left: 0;
	}
	.crumbs-head__title{
		font-size: 18px;
	}
	.crumbs-head__items{
		flex-direction: column;
    	align-items: center;
	}
	.crumbs-head__item{
		margin-bottom: 0px;
	}
	.crumbs-head__item:after{
		display: none;
	}
	.crumbs-head{
	    padding-bottom: 25px;
	}
	.crumbs-head__item p{
		font-size: 16px;
	}
	.add-region__select{
		margin-right: 0;
	}
	.jq-selectbox__select{
		width: 250px;
	}
	.reg-form__btn{
		justify-content: end;
	}
	.add-region{
		margin-bottom: 40px;
	}
	.reg-cont .question-view{
		width: auto;
		margin-bottom: 25px;
	}
	.reg-cont{
		margin-bottom: 30px;
	}
	.standart-form__item{
		max-width: 100%;
	}
	.standart-form input{
		max-width: 100%;
	}
	.order-selection__icon{
		right: 0px;
	}
	.standart-form__button{
		flex-direction: column;
		align-items: end
	}
	.standart-form__price{
		width: 250px;
		margin-bottom: 25px;
	}
	.promo-banner{
	    min-height: 550px;
	    padding: 80px 0;
	}
	.promo-banner__h1{
		font-size: 26px;
	}
	.promo-banner__h2{
		font-size: 16px;
		text-transform: unset;
	}
	.promo-activities__col-1,
	.promo-activities__col-2{
		height: auto;
		min-height: 210px;
	}
	.promo-activities__txt-title{
		font-size: 20px;
	}
	.promo-activities__txt-desc{
		font-size: 16px;
		color: #d8d8d8;
	}
	.promo-activities__title{
		font-size: 20px;
	}
	.promo-info__img{
		display: none;
	}
	.promo-info__txt{
		padding-right: 15px;
	}
	.promo-banner__item-title{
		font-size: 18px;
	}
	.promo-banner__item-desc{
		font-size: 14px;
	}
	.promo-info li{
		font-size: 16px;
	}

}
@media (max-width: 767px){
	.head-login__top-cont{
		flex-direction: column;
	}

	.table1 thead {
        display: none;
    }
    .table1 tr {
        display: flex;
	    flex-direction: column;
	    margin-bottom: 30px;
	    padding: 15px;
	    background: #f5f5f5;
    }
    .table1 td {
        margin: 0 -1px -1px 0;
	    padding: 10px 0;
	    position: relative;
    }
    .table1 td span {
        display: block;
    }


    /*стили для промо страниц__________________________*/
    .authorization-content__selection-item{
    	height: auto;
    	min-height: 180px;
    }
    .check-content__wrap{
    	width: auto;
    }
}
@media (max-width: 575px){
	.popup-locat__item{
		width: 100%;
	}
	.lk-content__select-btn{
		width: 100%;
	}
	.table2 thead tr{
		display: none;
	}
	.table2 tbody{
		display: flex;
		flex-wrap: wrap;
	}
	.table2 tbody tr{
		display: flex;
    	flex-direction: column;
        width: 50%;
        background: #eaeaea;
        padding: 7px 7px;
        margin-bottom: 10px;
	}
	.table2 tbody tr:first-child td{
		padding-top: 8px;
	}
	.table2 tbody tr:nth-child(odd){
		border-right: 10px solid #fff;
	}
	.table2 tbody tr td{
		text-decoration: underline;
		    text-align: center;
	}
	.table2 tbody tr td a{
		display: flex;
	    justify-content: center;
	    padding: 10px 0;
	    background: #009028;
	}
	.table2 tbody a svg path{
		fill: #fff;
	}
	.table2 tbody a:hover svg path{
		fill: #000;
	}
}
@media (max-width: 350px){
	.head-login__top-phone, 
	.head-login__top-locat{
		display: block;
	}
}