@font-face {
  font-family: "Raleway-r";
  src: url("../fonts/Raleway-Regular.woff");
}
@font-face {
  font-family: "Raleway-m";
  src: url("../fonts/Raleway-Medium.woff");
}
@font-face {
  font-family: "Raleway-sb";
  src: url("../fonts/Raleway-SemiBold.woff");
}
@font-face {
  font-family: "Raleway-b";
  src: url("../fonts/Raleway-Bold.woff");
}


*{
	font-family: "Raleway-r";
	margin: 0;
	padding: 0;
	font-variant-numeric: lining-nums;
}
h1{
	
}
h2{
	font-size: 20px;
	color: #009028;
	text-transform: uppercase;
	margin-bottom: 15px;
	
}
h3{
	
}
a{
	color: #009028;
	text-decoration: underline;
	transition: 0.2s;
}
p{
	color: #000;
	margin-bottom: 10px;
}
.style-txt{
	color: #009028;
	text-transform: uppercase;
}
.style-txt-green{
	color: #009028;
}
.style-txt-2{
	color: #009028;
	font-family: "Raleway-b";
}
.style-txt-3{
	font-family: "Raleway-b";
}
.style-txt-center{
	text-align: center;
}


.btn, 
.btn-width{
	background: #009028;
    text-decoration: none;
    font-size: 14px;
    font-family: "Raleway-m";
    border-radius: 20px;
    color: #fff;
    padding: 10px 33px;
    margin-bottom: 15px;
    display: inline-block;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.btn-width{
	width: 100%;
}

.btn:hover, 
.btn-width:hover{
	border-radius: 0px;
}
.btn-clear{
    text-decoration: none;
    font-size: 14px;
    font-family: "Raleway-m";
    border-radius: 20px;
    border: 1px solid #009028;
    color: #009028;
    padding: 10px 33px;
    margin-bottom: 15px;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
}
.btn-clear:hover{
	border-radius: 0px;
}


/*ХЛЕБНЫЕ КРОШКИ___________________________________________*/
.bread-crumbs a{
	color: #4F4F4F;
	text-decoration: none;
	display: flex;
	align-items: center;
	position: relative;
	padding: 3px 0;
	margin-right: 17px;
	font-size: 12px;
	transition: 0.2s;
}
.bread-crumbs a:hover{
	color: #009028;
}
.bread-crumbs a:after{
	content: "";
	background: url(../img/svg/arrow-right.svg);
	background-size: 100%;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -15px;
}
.bread-crumbs li:last-child a:after{
	display: none;
}
.bread-crumbs li{
	list-style-type: none;
}
.bread-crumbs ul{
	display: flex;
}



/*SIDEBAR__________________________________________*/

.lk-sidebar{
	border-right: 2px solid #dddddd;
}
.lk-sidebar__title{
	color: #009028;
    font-size: 20px;
    font-family: "Raleway-sb";
    text-transform: uppercase;
    position: relative;
    padding: 7px 0 15px;
    margin-bottom: 15px;
    /*border-right: 2px solid #DDDDDD;*/
}
.lk-sidebar__title:after{
	content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% + 15px);
    left: -15px;
    height: 2px;
    background: #DDDDDD;
    transition: transform 0.2s;
}
.lk-sidebar__links{
	display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-bottom: 60px;
    position: relative;
}
.lk-sidebar__links:after {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% + 15px);
    left: -15px;
    height: 2px;
    background: #DDDDDD;
}
.lk-sidebar__links:last-child{
	padding-top: 15px;
	padding-bottom: 15px;
}
.lk-sidebar__links:last-child:after{
	display: none;
}
.lk-sidebar__links a{
	padding: 12px 0;
    text-decoration: none;
    color: #171717;
    margin-bottom: 5px;
    position: relative;
    font-family: "Raleway-m";
    width: calc(100% - 15px);
}
.lk-sidebar__links a:hover{
	color: #009a2b;
	text-decoration: underline;
}
.lk-sidebar__links a:before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
}
.link-active{
	background: #009a2b;
	color: #fff !important;
	cursor: default;
}
.link-active:before{
	background: #009a2b;
	/*border-left: 5px solid #00671d;*/
}
.link-active:hover{
	text-decoration: none !important;
}




/*КОНТЕНТ ЛИЧНОГО КАБИНЕТА__________________________________*/
.lk{
	padding-top: 20px;
	margin-bottom: 100px;
}
.lk-content__item{
	margin-bottom: 30px;
}
.lk-content__item-wrap{
	/*background: #eaeaea;*/
	width: 100%;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DDDDDD;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    transition: 0.2s;
}
.lk-content__item-wrap:hover{
	border: 2px solid #009a2b;
	background: #f9f9f9;
}
.lk-content__item-img{
	margin-bottom: 7px;
    width: 50px;
}
.lk-content__item-wrap p{
	color: #262626;
	margin-bottom: 0;
}
.lk-content__title-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lk-content__title-wrap a{
	font-size: 14px;
}
.lk-content__title-green{
	color: #009028;
    font-family: "Raleway-m";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}
.lk-content__desc{
	margin-bottom: 50px;
	color: #000;
}
.account-slide .lk-sidebar__title:after{
	transform: rotate(90deg);
}
.lk-content__title{
	font-size: 18px;
    font-family: "Raleway-m";
    text-transform: uppercase;
    color: #171717;
    padding: 10px 0;
    margin-bottom: 10px;
}
.order-selection{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
.order-selection__title, 
.manager__title, 
.set-title{
	font-size: 18px;
	font-family: "Raleway-m";
	margin-bottom: 15px;
}
.order-selection__item, 
.order-selection__item-table{
	margin-bottom: 15px;
	position: relative;
	align-self: baseline;
}
.order-selection__item-table{
	width: 100%;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #585858;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #009a2b;
    border-bottom: 4px solid #009a2b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 1px;
    top: 1px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #009a2b;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    border: 1px solid #424242;
}
input[type="checkbox"]:checked + label:after{
	left: 4px;
    top: 4px;
    width: 11px;
    height: 7px;
}
.order-selection__icon{
	position: absolute;
    top: -9px;
    right: -21px;
    width: 15px;
    cursor: pointer;
}
.selection-question{
	position: absolute;
    top: 4px;
    right: -270px;
    background: #eaeaea;
    padding: 15px;
    max-width: 250px;
    font-size: 14px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s;
}
.selection-question-left{
	right: 0;
}
.view{
	z-index: 90;
	opacity: 1;
}
.question-view{
	position: relative;
    width: max-content;
}
.order-selection__item-table table{
	width: 100%;
}
.order-selection__item-table th{
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 2px solid #E5E5E5;
}
.order-selection__item-table td{
	padding-bottom: 10px;
}
.order-selection__item-table tr:nth-child(2) td{
	padding-top: 10px;
}
.order-selection__item-table tr td:nth-child(1){
	width: 70%;
}
.order-selection__item-table tr td:nth-child(2){
	width: 15%;
}
.order-selection__item-table tr td:nth-child(3){
	width: 15%;
}
.manager{
	margin-bottom: 15px;
}





/*Форма с бордером*/
.border-box{
	border: 1px solid #000000;
    padding: 25px 30px 15px;
    position: relative;
    margin: 40px 0 25px;
}
.border-box__title{
	font-size: 18px;
    font-family: "Raleway-m";
    position: absolute;
    background: #fff;
    top: -12px;
    left: 27px;
    padding: 0 10px;
}
.border-box__item{
	display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}
.border-box__item span{
	margin-bottom: 5px;
}
.border-box__item input{
	height: 40px;
	padding: 0 15px;
	outline: none;
	border: 1px solid #000000;
}
.form-btn{
	width: 220px;
    height: 32px;
    background: #009028;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway-m";
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px 0 15px;
}
.border-box__select{
	margin-bottom: 15px;
	text-decoration: underline;
}
.border-box__active{
	color: #009028;
}
.border-box__radio{
	margin-bottom: 25px;
}
.border-box__hidden-text{
	color: #464646;
	margin-bottom: 30px;
	font-size: 14px;
}
.standart-form__text-box{
	position: relative;
	font-family: "Raleway-m";
	font-size: 18px;
	width: max-content;
}
.standart-form__text-box p{
	font-family: "Raleway-m";
}
.standart-form__button{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.standart-form__button button{
	margin-bottom: 0;
}
.standart-form__price{
	position: relative;
	width: 400px;
}
.standart-form__info{
	margin-bottom: 35px;
	display: inline-block;
}
.standart-form__info p{
	margin-bottom: 25px;
}


/*Блок загрузки_____________*/
.download{
	margin-bottom: 30px;
}
.download>p{
	font-family: "Raleway-m";
	font-size: 18px;
	margin-bottom: 15px
}
.download__item{
	display: flex;
	align-items: center;
	color: #000;
	margin-bottom: 15px;
}
.download__item:hover{
	color: #009028 !important;
}
.download__item-icon{
	width: 20px;
	margin-right: 15px;
}



/*ПОПАП ОКНО С ВЫБОРОМ ГОРОДА _________________________________*/
#popup-locat{
	display: none;
	max-width: 700px;
	padding: 25px;
}
.popup-locat__title{
	font-size: 20px;
    text-transform: uppercase;
    color: #009028;
    font-family: "Raleway-sb";
    margin-bottom: 7px;
}
.popup-locat__desc{
	font-size: 14px;
	margin-bottom: 25px;
}
.popup-locat__item-img{
	width: 9px;
    height: 12px;
}
.popup-locat__items{
	display: flex;
	flex-wrap: wrap;
}
.popup-locat__item{
	display: flex;
    align-items: center;
    width: 33.33333%;
    margin-bottom: 15px;
}
.popup-locat__item-link{
    border: 1px solid #009A2B;
    color: #272727;
    text-decoration: none;
    padding: 6px 15px;
    width: 100%;
    margin-right: 15px;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    border-radius: 30px;
}
.popup-locat__item-link:hover{
	background: #009A2B;
    color: #fff;
    padding-left: 18px;
}
.popup-locat__selected{
	font-size: 12px;
	font-family: Raleway-sb;
	margin: 10px 0;
	color: #000;
}
.popup-locat__selected span{
	color: #009A2B;
	font-family: Raleway-sb;
}
.locat-active{
    color: #029029;
    cursor: default;
}
.locat-active:hover{
	background: none;
	color: #029029;
    padding-left: 15px;
}
.locat-active .popup-locat__item-img{
	display: none;
}



/*Форма поиска___________________________________________*/
.head-login__bottom-form{
	padding-bottom: 3px;
	display: flex;
	align-items: flex-end;
}
.head-login__bottom-form form{
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-left: 20px;
	position: relative;
}
.head-login__bottom-form input{
	width: 100%;
	height: 37px;
	border-radius: 30px;
	padding: 5px 15px;
	border: none;
	outline: none;
}
.head-login__bottom-form button{
	position: absolute;
	right: 6px;
	top: 5px;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}
.head-login__bottom-form button:after{
	content: "";
    background: url(../img/svg/search.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17px;
    height: 20px;
    display: block;
}



/*Акции________________*/
.sale-prew{
	background: rgba(0, 0, 0, 0.10);
	padding: 30px 0 30px;
}
.sale-prew h2{
	margin-bottom: 25px;
}
.sale-prew__item{
	margin-bottom: 20px;
}
.sale-prew__item__wrap{
	position: relative;
	height: 100%;
	display: flex;
	overflow: hidden;
	text-decoration: none;
}
.sale-prew__item-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	transition: 0.2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.sale-prew__item__wrap:hover .sale-prew__item-img{
	transform: scale(1.05);
}
.sale-prew__item-text{
	background: linear-gradient(90.47deg, #000000 0.17%, rgba(0, 0, 0, 0.58) 65.83%, rgba(196, 196, 196, 0.17) 99.84%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 35px 20px;
}
.sale-prew__item-title{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Raleway-sb";
	margin-bottom: 10px;
}
.sale-prew__item-date{
	color: #009028;
	font-size: 16px;
	font-family: "Raleway-sb";
}






/*Футер страницы__________________________*/
footer{
	background: #212121;
	padding: 40px 0 50px;
}
footer p{
	color: #fff;
}
.footer__logo{
	width: 170px;
	margin-bottom: 45px;
}
.footer__logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.footer__contacts{
	margin-bottom: 65px;
}
.footer__contacts-img{
	margin-right: 10px;
}
.footer__contacts-item{
	color: #fff;
	display: flex;
	margin-bottom: 15px;
}
.footer__contacts-item p{
	margin-bottom: 0;
}
.footer__soc{
	display: flex;
	margin-bottom: 40px;
}
.footer__soc-item{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
}
.footer__soc-item:hover{
	transform: scale(1.07);
}
.footer__facebook{
	background: #3B5A9A;
}
.footer__twitter{
	background: #28A9E2;
}
.footer__google{
	background: #E04A39;
}
.footer__insta{
	background: #567D9C;
}
.footer__pinterest{
	background: #CC2129
}
.footer__soc-img{
	width: 18px;
	height: 18px;
}
.footer__item-title{
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #009028;
	font-family: "Raleway-sb";
}
.footer__item-link a{
	color: #fff;
	text-decoration: none;
	margin-bottom: 5px;
	padding: 5px 0;
	display: flex;
	width: max-content;
	transition: 0.2s;
}
.footer__item-link a:hover{
	color: #009028;
	text-decoration: underline;
}
.footer__item-desc{
	margin-bottom: 30px;
}
.footer__pseudo-call{
	position: relative;
	display: flex;
	align-items: center;
}
.footer__pseudo-call input{
	width: 100%;
	height: 38px;
	border-radius: 30px;
	border: 1px solid #DDDDDD;
	color: #fff;
	background: none;
	padding: 0 15px;
	outline: none;
	font-size: 16px;
}
.footer__pseudo-call input::-webkit-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input:-ms-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input::-ms-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input::placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call button {
   	background: url(../img/svg/arrow-right-white.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    width: 22px;
    height: 22px;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    outline: none;
    background-color: #0e6726;
    background-position: center;
    border-radius: 100%;
}




/*Иконка открытия и закрытия меню на мобильной версии*/
.burger{
	display: none;
	align-items: center;
    position: absolute;
    right: 15px;
}
.burger-item{
	width: 25px;
	height: 23px;
	border-top: 3px solid #fff;
}
.burger-item:before, 
.burger-item:after{
	content: "";
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: 10px;
}
.burger-item:after{
	bottom: 0;
}
.close-nav{
	position: absolute;
    top: 7px;
    right: 0px;
    padding: 15px;
    display: none;
}
.close-nav__icon{
	width: 20px;
	height: 20px;
}




.sum-points{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.sum-points span{
	margin-left: 10px;
}











/*Таблицы_______________________________*/

.table1 {
    border-radius: 5px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.table1 th, .table1 td {
    border: none;   
    border-bottom: 1px solid #E5E5E5;
    vertical-align: top;
    padding: 10px 5px;
}
.table1 th {
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;    
    font-size: 18px;
    font-family: "Raleway-m";
    text-align: left;
}
.table1 tbody tr:last-child td{
	border: none;
}


.table1 th:nth-child(1){
	width: 15%;
}
.table1 th:nth-child(2){
	width: 55%;
}
.table1 th:nth-child(3){
	width: 15%;
}
.table1 th:nth-child(4){
	width: 15%;
}

/*Вторая таблица*/
.table2 {
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
.table2 th{
    border: none;   
    border-bottom: 1px solid #E5E5E5;
    vertical-align: top;
    padding: 15px 0px;
    text-align: left;
}
.table2 td{
	padding: 8px 0;
	vertical-align: top;
}
.table2 tbody tr:first-child td{
	padding-top: 15px;
}
.table2 a:hover svg path{
	transition: 0.2s;
}
.table2 a:hover svg path{
	fill: #009028;
}


.table2 th:nth-child(1){
	width: 8%;
}
.table2 th:nth-child(2){
	width: 20%;
}
.table2 th:nth-child(3){
	width: 22%;
}
.table2 th:nth-child(4){
	width: 15%;
}
.table2 th:nth-child(5){
	width: 20%;
}
.table2 th:nth-child(6){
	width: 15%;
}




/*Выбор в накладные и задолженность______________*/
.lk-content__info-select{
	margin-bottom: 25px;
	border-bottom: 2px solid #DDDDDD;
	display: flex;

}
.lk-content__select-btn{
	border-top: 2px solid #DDDDDD;
	border-right: 2px solid #DDDDDD;
	min-width: 206px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	cursor: pointer;
}
.lk-content__info-select .lk-content__select-btn:first-child{
	border-left: 2px solid #DDDDDD;
}
.select-active{
	background: #009a2b;
	color: #fff;
	border: none !important;
}
.lk-content__info-item{
	display: none;
	z-index: -1;
}
.lk-content__info-active{
	display: block;
	z-index: 9;
}
.lk-content__info-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}




/*Первый блок___________________*/
.col1__item-wrap{
	border: 2px solid #DDDDDD;
	padding: 17px 15px;
	margin-bottom: 30px
}
.col1__info{
	margin-bottom: 35px;
}
.col1__item-title{
	font-family: "Raleway-b";
	text-transform: uppercase;
	line-height: 19px;
	margin-bottom: 0;
}
.col1__item-desc{
	text-decoration: underline;
	line-height: 19px;
	margin-bottom: 0
}
.col1__item-txt{
	margin-bottom: 15px;
}
.col1__item-btn{
	display: flex;
	justify-content: center;
}
.col1__item-btn a{
	margin-bottom: 5px;
	margin-top: 5px;
}




















/*_____________________________________________________________*/

/*Стили для промо страниц*/

/*_____________________________________________________________*/

.authorization-content h1{
	color: #000000;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: "Raleway-m";
	font-weight: 100;
	text-align: center;
	padding: 0 15px;
}
.authorization-content h2{
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding: 0 15px;
	margin-bottom: 25px;
	text-transform: none;
	font-weight: 100;
}
.authorization-content__selection a{
	text-decoration: none;
}
.authorization-content__selection-item{
	margin-bottom: 30px;
	position: relative;
	padding: 15px;
	height: 320px;
	border: 5px solid #fff;
	transition: border 0.2s;
}
.authorization-content__selection a:hover .authorization-content__selection-item{
	border: 5px solid #009028;
}
.authorization-content__title{
	margin-top: 50px;
}
.authorization-content__selection-img{
	-webkit-filter: brightness(0.3) contrast(0.8);
	position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.authorization-content__selection-title{
	font-size: 23px;
	color: #fff;
}
.authorization-content__selection-desc{
	font-size: 16px;
	color: #fff;
}
.authorization-content__support{
	max-width: 550px;
    text-align: center;
    margin: 10px auto 40px;
}
.authorization-content__support a{
	text-decoration: none;
}
.login-form{
	width: 100%;
}
.login-form__title{
	font-size: 24px;
	margin-bottom: 25px;
	font-family: "Raleway-m";
}
.login-form__item{
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.login-form__item-title{
	font-family: "Raleway-m";
	margin-bottom: 5px;
}
.login-form__item input{
	height: 40px;
	width: 100%;
	border: 1px solid #000;
	outline: none;
	padding: 0 15px;
	font-size: 16px;
}
#recap{
	margin-bottom: 25px;
}
.login-form__info{
	text-align: center;
    padding: 0 15px;
    max-width: 500px;
    margin: 15px auto 0;
}
#login-form-installer, 
#login-form-entity{
	display: none;
}
.login-form__forgot{
	display: flex;
	justify-content: flex-end;
	padding: 5px 0 30px;
}
.login-form__forgot a{
	font-family: "Raleway-m";
	color: #009028;
	text-decoration: underline;
}
.authorization-content__reg{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-left: 1px solid #C4C4C4;
}
.authorization-content__reg-title{
	font-size: 24px;
	font-family: "Raleway-m";
	margin-bottom: 25px;
}
.authorization-content__reg-desc{
	font-size: 18px !important;
	margin-bottom: 60px !important;
	max-width: 450px;
}
.authorization-content__login{
    padding-right: 40px;
}
.authorization-content__row{
	margin-bottom: 100px;
}
.crumbs-head{
	background: #212121;
    padding-top: 30px;
    margin-bottom: 50px;
}
.crumbs-head__title{
	text-transform: uppercase;
	font-family: "Raleway-b";
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 22px;
	text-align: center;
}
.crumbs-head__item{
	margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.crumbs-head__item p{
	text-transform: uppercase;
    font-family: "Raleway-b";
    color: #FFFFFF;
    font-size: 20px;
    color: #C3C3C3;
    padding: 7px 0;
    margin-bottom: 0;
}
.crumbs-head__item:after{
	content: "";
    background: url(../img/svg/arrow-wi.svg);
    width: 35px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}
.crumbs-head__item:last-child:after {
    display: none;
}
.crumbs-head__items{
	display: flex;
    justify-content: center;
}
.crumbs-head__active p{
	color: #fff;
	position: relative;
}
.crumbs-head__active p:after{
	content: "";
	background: #009028;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.reg-form__title{
	margin-top: 20px;
	font-family: "Raleway-m";
	font-size: 18px;
}
.add-region{
	margin-bottom: 25px;
}
.add-region__title{
	font-size: 18px;
	font-family: "Raleway-m";
}
.add-region__items{
	margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: max-content;
    position: relative;
}
.add-region__item{
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 25px;
}
.add-region__btn, 
.add-region__remove{
	font-size: 18px;
	color: #009028;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.add-region__btn{
	width: max-content;
}
.add-region__remove{
	color: #8D0000;
    position: absolute;
    right: -190px;
    bottom: 35px;
    z-index: 10;
    display: none;
}
.remove-vis{
	display: flex;
}
.add-region__btn:before, 
.add-region__remove:before{
	content: "";
	background-image: url(../img/svg/plus.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 10px;
}
.add-region__remove:before{
	background-image: url(../img/svg/remove.svg);
	width: 20px;
    height: 16px;
}
.add-region__select{
	/*align-self: end;
	margin-bottom: 30px;*/
	margin-right: 30px;
}
.add-region__select:last-child{
	margin-bottom: 10px;
}
.reg-form__btn{
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 50px;
}





/*Стили для селектов */
.jq-selectbox__select{
	height: 40px;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	padding: 0 10px;
	width: 300px;
	cursor: pointer;
}
.jq-selectbox__select:after{
	content: "";
	background-image: url(../img/svg/arrow-right.svg);
	display: block;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	transition: 0.2s;
}
.dropdown .jq-selectbox__select:after{
	transform: rotate(90deg);
}
.jq-selectbox__dropdown{
	background: #eaeaea;
    width: 100%;
    top: 40px;
}
.jq-selectbox__dropdown li{
	padding: 7px 10px;
	cursor: pointer;
	transition: 0.2s;
}
.jq-selectbox__dropdown li:hover{
	background: #009028;
	color: #fff;
}
.jq-selectbox__select-text{
	width: calc(100% - 30px) !important;
}





.reg-banner{
	position: relative;
	height: 230px;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px;
	display: flex;
	align-items: flex-end;
}
.reg-banner__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-filter: brightness(0.5);
	z-index: -1;
}
.reg-banner__title{
	font-family: "Raleway-b";
	color: #fff;
}
.standart-form{
	margin-bottom: 30px;
}
.standart-form #cap{
	margin-bottom: 25px;
}
.standart-form input{
	height: 40px;
	padding: 0 10px;
	outline: none;
	border: 1px solid #000;
	font-size: 18px;
	width: 100%;
	max-width: 400px;
}
.standart-form__txt{
	font-family: "Raleway-m";
	font-size: 18px;
}
.reg-cont__title{
	margin-bottom: 40px;
}
.reg-cont{
	margin-bottom: 100px;
}
.input-required:after{
	z-index: 15;
    content: "*";
    position: absolute;
    right: 10px;
    color: #ff2f2f;
    font-size: 39px;
    bottom: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.standart-form__item{
	max-width: 400px;
	position: relative;
	margin-bottom: 25px;
}
.datepicker--day-name, 
.datepicker--nav-title, 
.datepicker--nav-title i, 
.datepicker--cell.-current-{
	color: #009028;
}
.datepicker--cell.-selected-, 
.datepicker--cell.-selected-.-current-, 
.datepicker--cell.-selected-.-focus-{
	background: #009028;
}
#check-content{
	display: none;
}
.check-content__wrap{
    width: 490px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.check-content__num{
	font-size: 18px;
	width: 180px;
	text-align: center;
	border: 1px solid #000;
	height: 50px;
	margin-bottom: 25px;
	outline: none;
	cursor: text;
	padding: 0 10px;
}
.check-content__title{
	margin-bottom: 25px;
	font-size: 18px;
	text-align: center;
}
.check-content__desc{
	color: #464646;
	font-size: 18px;
	text-align: center;
}
.standart-form button[disabled]:hover {
    opacity: .6;
    cursor: not-allowed;
}
.standart-form__contract{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 61px;
}
.standart-form__checkbox{
	margin-bottom: 10px;
    display: inline-block;
}
.standart-form__checkbox-title{
	font-family: "Raleway-m";
	font-size: 18px;
	margin-bottom: 15px;
}
.standart-form__checkbox-item{
	margin-bottom: 15px;
}
.standart-form__title {
    font-family: "Raleway-m";
    font-size: 18px;
    margin-bottom: 15px;
}
.standart-form .border-box{
	margin-top: 25px;
}