@media screen and (max-width:1200px) {
	.orderForm .fieldList .field {
		max-width: 100%;
	}
}

@media screen and (max-width:1220px) {
	header .headerWrapper {
		width: 100%;
		margin: 0;
		left: 0;
	}

	header .cityBlock .switch .callback {
		left: 470px;
		display: none;
	}

	header .userBlock {
		right: inherit;
		left: 650px;
	}

	header .headerWrapper .cert {
		display: none;
	}

	header .logo {
		margin-left: 0;
		left: 10px;
	}

	header .header-text {
		display: none;
	}

	.mainMenuBlock .menuItemList {
		margin: 0 15px 0 0;
	}
}

@media screen and (max-width:1150px) {
	.bottom-blog .frameWrapper {
		text-align: center;
	}

	.bottom-blog .frameWrapper h2 {
		text-align: center;
	}

	.bottom-blog__item {
		width: 35%;
		text-align: left;
	}
}


@media screen and (max-width:1024px) {
	header .headerWrapper {width:100%; margin:0; top:0; padding:0 25px; box-sizing:border-box; left:0}
	header .socialBlock {left:25px}
	header .logo {margin-left:0; left:25px}
	.mainMenuBlock {letter-spacing:normal}
	.mainMenuBlock .blockWrapper {margin:0 25px}
	.menuBlock .menuItemList {display:block; text-align:center}
	.menuBlock .menuItemList .item {display:inline-block; }
	
	.breadcrumbsBlock {padding:10px}
	
	.frame .frameWrapper {margin:0 10px}
	.frame-banner .frameWrapper {margin:0}
	
	.frame-navigation .menuBlock-special {margin:0 -10px}
	
	.contentBodyBlock .contentBodyWrapper .contentBody {margin-left:180px}
	.frame-item .contentBodyBlock .contentBodyWrapper .contentBody {margin-left:250px}
	.contentBodyBlock .contentAddonBlock {float:left; margin-left:-100%; width:150px; padding-top:4em}

	
	footer .footerWrapper {margin:0 10px}
}

@media screen and (max-width:1015px) {
	.articleListBlock .articleList {
		margin: 0;
		text-align: center;
	}

	.articleListBlock .articleList .new-article-big {
		width: 483px;
		margin-right: 0;
		float: none;
	}

	.articleListBlock .articleList .new-article {
		float: none;
	}

	.articleListBlock .articleList .new-article:nth-child(2) {
		margin-left: 17px;
	}

	.articleListBlock .articleList .new-article:nth-child(3),
	.articleListBlock .articleList .new-article:nth-child(7) {
		margin-right: 15px;
	}

	.articleListBlock .articleList .new-article-big-last {
		margin-right: 15px;
	}

	.tags-container {
		display: block;
		padding-left: 0;
		margin-top: 8px;
	}
}

@media screen and (max-width:940px) {
	.mainMenuBlock .menuItemList .item {font-size:1.3rem; margin: 0 0 0 10px;}
	header .socialBlock {display:none}
	header .cityBlock {left:25px}
	header .cityBlock .dropdownBlock {left:0; transform:translateX(0); -webkit-transform:translateX(0); box-shadow:0 1px 2px rgba(0,0,0,0.75)}
	header .cityBlock .dropdownBlock:before {left:50px}
	
	.brandListBlock .brandList {display:block; margin:0 -10px}
	.brandListBlock .brandList .brand {margin:10px; vertical-align:middle; height:auto; line-height:1.2}
	
	.menuBlock-special .menuItemList .item {width:50%}
	
	.frame-contacts {min-height:0}
	.frame-contacts .frameWrapper {padding-bottom:0}
	.frame-contacts #map {position:relative; height:75vh; margin:10px -10px; width:auto}
	.frame-contacts .contactBlock {max-width:100%}
	.frame-contacts #map .ymaps-2-1-35-copyright {left:auto}
	.frame-contacts #map .ymaps-2-1-35-controls-pane {width:100% !important}

	
	.contentBodyBlock .contentBodyWrapper {float:none; width:auto}
	.contentBodyBlock .contentBodyWrapper .contentBody {margin:0}
	.frame-item .contentBodyBlock .contentBodyWrapper .contentBody {margin-left:0}
	.contentBodyBlock .contentAddonBlock {float:none; margin:10px 0; width:auto; padding-top:0; display: none;}
	.contentBodyBlock .contentDisplayBlock {float:none; margin:10px 0; width:auto; padding-top:0}
	.frame-item .contentBodyBlock .contentDisplayBlock {width:auto}
	.catalogItemGalleryBlock .previewBlock {width:auto}
	
		
	#page {padding-bottom:0; min-height:0}
	footer {margin-top:0}

	
	footer .prefooterBlock {height:auto}
	footer .footerNavigation {float:none; overflow:hidden; border-bottom:1px #c3c3c3 solid}
	footer .prefooterBlock .informationBlock .contactBlock {margin-left:0; float:none}
	footer .secondaryLinksBlock {margin-right:0}
	footer .mainLinksBlock {height:auto; padding-bottom:25px}
	footer .contactBlock {height:auto; padding-bottom:25px}

	.bottom-blog .first{
		padding-right: 0;
	    width: 70%;
	    text-align: left;
	    min-height: 185px;
	    border-right: none;
	}

	.frameWrapper .bottom-blog__item:nth-child(3) {
		padding: 0;
		margin-top: 30px;
	}

	.bottom-blog__item {
		min-height: auto;
	}

	.bottom-blog__item .link {
		position: inherit;
	}

	header .userBlock {left: 440px;}
}

@media screen and (max-width:865px) {
	.main-reviews .main-reviews-row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.main-reviews .reviews__item {
		margin-bottom: 30px;
	}

	.main-reviews .reviews__item {
		margin-bottom: 30px;
		width: 100%;
		max-width: 600px;
	}

	.main-reviews .reviews__item .content {
		min-height: auto;
	}
}

@media screen and (max-width:800px) {
	.mainMenuBlock .menuItemList .item {font-size:1.2rem; margin: 0 0 0 10px;}
	.catalogListBlock .catalogItemList .item {width:50%}
	header .cityBlock .switch .callback {left: 350px;}
}

@media screen and (max-width:790px) {
	.articleListBlock .articleList .new-article:nth-child(4),
	.articleListBlock .articleList .new-article:nth-child(6),
	.articleListBlock .articleList .new-article:nth-child(8) {
		margin-left: 15px;
	}

	.articleListBlock .articleList .new-article-big-last {
		margin-right: 0;
	}

	.mainMenuBlock .blockWrapper {
		padding: 0;
		margin-right: 0;
	}

	.contentBody .main-prices {
		width: 100%;
		min-width: 100%;
	}

	.contentBody .main-prices tr td:nth-child(1),
	.contentBody .main-prices tr td:nth-child(2) {
		padding-left: 10px;
	}

	.contentBody .main-prices tr td:nth-child(1) {
		font-size: 15px;
		width: 50%;
	}

	.contentBody .main-prices tr td:nth-child(2) {
		font-size: 13px;
	}

}

@media screen and (max-width:720px) {
	.orderForm .fieldList {margin-right:0}
	.orderForm .fieldList>.field {width:100%; padding:0;}
	.orderForm .fieldGroup>.fieldList {margin-right:0}
	.orderForm .fieldGroup>.fieldList>.field {width:50%;}
	
	.mainMenuBlock .menuItemList .item {font-size:1rem; margin: 0 0 0 10px;}
	
	.indexBannerBlock {padding:0}
	.indexBannerBlock .imageHolder {position:relative; }
	.indexBannerBlock .imageHolder .image {display:block; transform: translate(-63%,0); -webkit-transform: translate(-63%,0); position:relative; max-height:500px; max-height:90vh; min-height:100px}
	.indexBannerBlock .textBlock {font-size:2.6rem; margin:0 0 0 -45%; padding:0; position:absolute; width:90%; bottom:25px; left:50%}
	.indexBannerBlock .textBlock:before {top:-10px}
	.indexBannerBlock .textBlock:after {bottom:-10px}
	.menuBlock .menuItemList .item {font-size:1.2rem}
	
	.featuresBlock {font-size:2rem}

	header .cityBlock .switch .phone {left: 150px;}
	header .cityBlock .switch .callback {left: 280px;}

	.mainMenuBlock .blockWrapper {
		padding: 0;
		margin-right: 0;
	}
	
	.contentBody .razdel-features {
		padding: 25px 10px 25px 25px;
	}

	.contentBody .catalogListBlock .big-btn {
		padding: 12px 0;
	}

	.contentBody .catalogListBlock .catalogItemList .item .btn {
		font-size: 15px;
		padding: 4px 0;
	}

	.contentBody .catalogListBlock .main-prices {
		width: 90%;
	}

	.contentBody .catalogListBlock .main-prices tr td:nth-child(1) {
	    padding-left: 25px;
	}

	.contentBody .catalogListBlock .main-prices tr td:nth-child(2) {
		padding-left: 20px;
	}

	.contentBody .catalogListBlock .big-btn {
		font-size: 15px;
		padding: 10px 0;
	}

	.bottom-blog__item {
		width: 100%;
	}

	.bottom-blog .first {
		padding-right: 0;
		border: none;
		margin-bottom: 40px;
	}

	.bottom-blog .second {
		padding-left: 0;
	}

	.contentBody .catalogListBlock .catalogItemList .item {
		min-height: 630px;
	}

	#share-form {
        display: block;
        padding: 20px;
    }

    #share-form > div {
        width: auto;
    }

    #share-form .share-fomr__left,
    #share-form .share-fom__right {
        margin-right: 0;
    }

    #share-form .share-fomr__left {
        text-align: center;
        margin-bottom: 20px;
    }

    #share-form .share-fom__right {
        padding: 20px;
    }

    #share-form .left__title .top {
        font-size: 40px;
    }

    #share-form .left__title {
        margin-bottom: 15px;
    }
    #adminForm .fieldList{
    	display: block;
    }
    #adminForm .field{
		width: 100% !important;
	}
}

@media screen and (max-width:640px) {
	header {padding-top:0; background:#1f1f1f; height:57px}
	header .logo {top:0; left:50%; margin-left:-85px}
	header .menuSwitch {display:block}
	header .headerHolder {position: relative; width:100%; /*top:58px;*/ top: 2px; left:-100%; opacity:0; visibility:hidden; transition:all 0.5s ease}
	header.menuSwitched .headerHolder {
		left:0; 
		opacity:1; 
		visibility:visible;

		position: relative;
		height: calc(100vh - 57px);
		overflow-x: scroll;
	}
	.mainMenuBlock {background:none; height:auto}
	header .headerWrapper {padding:0; margin:0 57px 0 0; width:auto; position:relative; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.25); height:auto}
	.mainMenuBlock .blockWrapper {margin:0; padding:0}
	.mainMenuBlock .menuItemList {margin:0 57px 0 0; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.25); text-align:left}
	.mainMenuBlock .menuItemList .item {margin:0; display:block; padding:0; height:auto; font-size:1.5rem; border-bottom:1px #ababab solid; position:relative}
	.mainMenuBlock .menuItemList .item>.switch {width:50px; height:50px; position:absolute; right:0; top:0; cursor:pointer; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHBAMAAADOnLEXAAAABGdBTUEAALGPC/xhBQAAAB5QTFRFvYpVvYpVvYpVvYpVvYpVvYpVvYpVvYpVAAAAvYpVONIXWgAAAAl0Uk5Tn6/fQO8QzzAA+N56sQAAADdJREFUCNdjaO8AggoGS9GOjobJDJXTIlozpzO0e6aGTbFg6CiZlunewdDRrjmlAkh1hKV3dAAA2OYTR5mdh0MAAAAASUVORK5CYII=) center 55% no-repeat; transform:rotate(0); transition:all 0.5s ease}
	.mainMenuBlock .menuItemList .item a {color:#000; padding:13px 15px 13px 50px; line-height:24px; margin:0; border:0}
	.mainMenuBlock .menuItemList .item a:hover {border:0; color:#b98348; background:#edeaea}
	.mainMenuBlock .menuItemList .item:hover>a {border:0}
	.mainMenuBlock .menuItemList .dropdownBlock .item a {border:0; padding-left:75px}
	.mainMenuBlock .menuItemList .item .dropdownBlock {position:relative; opacity:1; visibility:visible; margin:0; box-shadow:none; border-top:1px #ababab solid; margin-bottom:-1px; }
	.jsEnabled .mainMenuBlock .menuItemList .item .dropdownBlock {display:none}
	.jsEnabled .mainMenuBlock .menuItemList .item-dropped .dropdownBlock {display:block}
	.jsEnabled .mainMenuBlock .menuItemList .item-dropped>.switch {transform:rotate(-180deg)}
	.mainMenuBlock .menuItemList .item .dropdownBlock:before {content:none}
	.mainMenuBlock .menuItemList .item .dropdownBlock .menuItemList {box-shadow:none;}
	
	.menuBlock-special .menuItemList {margin-left:0}
	.menuBlock-special .menuItemList .item {display:block; width:auto; max-width:328px; padding-left:0; margin:0 auto 15px}
	.menuBlock-special .menuItemList .item .imageWrapper {left:0}
	
	header .cityBlock .switch {margin:0; padding:0; display:block}
	header .cityBlock .switch .title {padding:15px 15px 15px 50px; display:block; text-transform:uppercase}
	header .cityBlock .switch .title:after {margin-right:0; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHBAMAAADOnLEXAAAABGdBTUEAALGPC/xhBQAAAB5QTFRFvYpVvYpVvYpVvYpVvYpVvYpVvYpVvYpVAAAAvYpVONIXWgAAAAl0Uk5Tn6/fQO8QzzAA+N56sQAAADdJREFUCNdjaO8AggoGS9GOjobJDJXTIlozpzO0e6aGTbFg6CiZlunewdDRrjmlAkh1hKV3dAAA2OYTR5mdh0MAAAAASUVORK5CYII=) center center no-repeat}
	header .cityBlock .dropdownBlock {left:25px; transform:translateX(0); -webkit-transform:translateX(0); box-shadow:0 1px 2px rgba(0,0,0,0.75)}
	header .cityBlock .dropdownBlock:before {left:50px}
	header .cityBlock .switch .phone {display:none}
	header .cityBlock .switch .callback {display:none}

	header .phone-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
	}

	header .phone-icon a {
		background-image: url(../img/tel__icon.png);
		display: block;
		position: absolute;
		right: 10px;
		top: 8px;
		width: 35px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 0;
	}
	
	header .cityBlock {position:relative; border-bottom:1px #ababab solid; left:0; top:0; z-index:6}
	header .userBlock,
	header .accountBlock,
	header .cartBlock {float:none; margin:0}
	header .accountBlock,
	header .cartBlock {border-bottom:1px #ababab solid}
	header .accountBlock .switch {margin:0; padding:0; display:block}
	header .accountBlock .switch .title {padding:15px 15px 15px 50px; display:block; text-transform:uppercase}
	header .accountBlock .dropdownBlock {left:25px; transform:translateX(0); -webkit-transform:translateX(0); box-shadow:0 1px 2px rgba(0,0,0,0.75)}
	header .accountBlock .dropdownBlock:before {left:50px}
	header .cartBlock .switch {margin:0; padding:0; display:block}
	header .cartBlock .switch .title {padding:15px 15px 15px 50px; display:block; text-transform:uppercase}
	header .cartBlock .dropdownBlock {left:25px; transform:translateX(0); -webkit-transform:translateX(0); box-shadow:0 1px 2px rgba(0,0,0,0.75)}
	header .cartBlock .dropdownBlock:before {left:50px}
	
	article {padding:200px 0 0}
	article .articleDetailsblock {position:absolute; left:0; top:0; width:100%; padding:45px 0 0 190px}
	header .cityBlock .switch .cert {display: none;}
	header .userBlock {position: inherit; left: 0;}
	.indexBannerBlock .imageHolder {display: none;}
}

@media screen and (max-width:540px) {
	.catalogListBlock .catalogItemList .item {width:240px; padding-left:0; display:block; margin:10px auto 30px} 
	
	.articleListBlock .articleList {text-align:center}
	
	footer .prefooterBlock {padding:0 10px}
	footer .footerNavigation {border:0; padding:0}
	footer .mainLinksBlock {float:none; margin:0; border:0; border-bottom:1px #c3c3c3 solid; width:auto}
	footer .secondaryLinksBlock {padding-bottom:25px; border-bottom:1px #c3c3c3 solid}
	footer .contactBlock {border:0}

	.articleListBlock .articleList .new-article-big {
		width: 243px;
		padding-top: 237px;
	}

	.articleListBlock .articleList .new-article-big .img-container {
		width: 100%;
	}

	.articleListBlock .articleList .new-article-big .content {
		margin-left: 0;
	}

	.articleListBlock .articleList .new-article {
		width: 262px;
	}

	.articleListBlock .articleList .new-article {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	.articleListBlock .articleList .new-article-big {
		width: 248px;
	}

	.articleListBlock .articleList .new-article .content {
		margin-left: calc(50% - 99px);
	}

	.articleListBlock .articleList .new-article-big .content {
		margin-left: 0;
	}

	.contentBody .catalogListBlock .catalogItemList .item {
		width: 260px;
		min-height: 615px;
		text-align: left;
	}

	.contentBody .catalogListBlock .catalogItemList {
		margin: 0;
		text-align: center;
	}

	.contentBody .catalogListBlock .big-btn {
		margin-bottom: 0;
	}

	.bottom-blog .first {
		width: 95%;
	}

	

}

@media screen and (max-width:480px) {
	.contentBody .catalogListBlock .main-prices tr td:nth-child(2) {
		padding-left: 0;
		text-align: center;
	}

	.contentBody .catalogListBlock .main-prices td,
	.contentBody .catalogListBlock .main-prices tr td:nth-child(2) span {
		font-size: 15px;
	}

	.contentBody .catalogListBlock .main-prices tr td:nth-child(2) {
		font-size: 11px;
	}

	.blog-nav .left,
	.blog-nav .right {
		float: none;
	}

	.blog-nav .right {
		max-width: 260px;
		margin-top: 20px;
	}

	.blog-nav .right .overlay {
		top: 62px;
	}

	.blog-nav .right form input {
		width: 100%;
	}
}

@media screen and (max-width:410px) {
	.blog-nav .right form input {
		width: 100%;
	}

	.blog-nav .right .overlay {
		width: 260px;
	}

	.blog-nav .right .overlay span {
		font-size: 14px;
	}
}