#page {
  padding: 125px 0 60px;
}

.col {
    margin-top: 20px;
}
.frame-news {
    background: #fff;
    color: #000;
    padding: 15px 20px;
}

.frame-news .frameTitle {
    background: #fff;
    color: #000;
    padding: 1px 0;
    margin-top: 0;
}

.frame-news .frameTitle a {
  color: #fff;
  background-color: #206b47;
  font-size: 20px;
  padding: 9px 0;
  text-decoration: none;
  transition: all .3s ease;
}

.frame-news .frameTitle a:hover {
  background-color: #54a980;
}

.frame-news a {
    color: #000;
    width: 100%;
    display: block;
}

.itemWrapper {
position: relative;
}

.itemWrapper .itemDateWrapper {
     width: 32%;
    float: left;
    /*margin-top: -10px;*/
    margin-top: 0;
    margin-left: -10px;
    background-color: #dbdbdb;
    text-align: center;
}

.itemWrapper .itemDateWrapper .itemDay {
    font-size: 48px;
    color: #056D44;
}

.itemWrapper .itemDateWrapper .itemMonth {
    color: #fff;
    font-size: 14px;
    margin-top: -3px;
    background-color: #206b47;
}

.itemWrapper .itemTitle {
    width: 56%;
    float: right;
    word-wrap: break-word;
}



header .logo {
height: 72px;
top: 5px;
width: 240px;
}

header .menuSwitch {
border: 0 none;
}

.overscroll header .logo {
  height: 100%;
  width: 180px;
}

/*.overscroll header .workRussia {
  margin-top: 5px;
}*/

.headerContactsWrapper {
  margin: 0 11px 0 auto;
  padding: 0 0 0 260px;
  max-width: 832px;
}

header .mainMenuBlock .blockWrapper {
  max-width: 1202px !important;
}

header .workRussia {
  line-height: 21px;
}

header .workRussia span:first-child {
    display: inline-block;
}

header .workRussia span {
  padding: 0px 10px;
}

.overscroll header .mainMenuBlock .blockWrapper {
  max-width: 1360px !important;
}

.overscroll header .workRussia {
  padding-right: 120px;
  line-height: 19px;
}

form#adminForm input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100% !important;
    color: #000;
}

.newsListBlock .newsList {
    padding-left: 0;
    margin: 0 0px 20px 0;
}

.articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    padding: 0 0 0 65%;
}
.articleListBlock .articleList .article .image {
width: 60% !important;
}
.articleListBlock .articleList .article .blockWrapper {
/*padding: 0 65% 0 0;
padding-left: 5px;*/
padding: 0;
}

.articleListBlock .articleList .article .blockWrapper > div {
  text-align: center;
}

.articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    padding: 0 0 0 65%;
    padding-right: 5px;
}

a .imageWrapper img {
/* padding-left: 10px;*/
  width: 100%;
}

.img-wide {
width: 100%;
}

.main-services-item{display:block;position:relative;margin-bottom:10px;}
.main-services-item:hover:after{transition:all 0.3s ease-out;content:"";position:absolute;display:block;width:100%;height:100%;background:rgba(0,0,0,-0.45);background:rgba(52, 122, 88, 0.6);left:0;top:0;z-index:1;opacity:.7;}




.col-sm-6 .frame-article .frameWrapper {
  background: #fff;
  padding: 0 10px;
}

.col-sm-6 .frame-article .frameWrapper p {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.article a {
    display: block;
}

.img-title {
  position: absolute;
  color: #fff;
  word-wrap: break-word;
  padding-left: 20px;
  z-index: 1;
  bottom: 0;
  padding-bottom: 35px;
  padding-top: 10px;
  width: calc(100% - 20px);
  font-size: 20px;
  background-color: rgba(52, 122, 88, 0.8);
  font-family: 'Roboto', sans-serif;
}

.section-title {
    margin: 0;
    padding-top: 24px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 24px;
    font-size: 22px;
    color: #000;
    font-weight: bold;
}

.section-article {
position: relative;
margin-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
}

.frame-article .frameWrapper .articleListBlock .articleList .article .blockWrapper .nc-form {
border: 0 none;
box-shadow: none;
}

.frame-article .frameWrapper .articleListBlock .articleList .article .blockWrapper .nc-form input {
background: #f4f4f4;
border: 1px solid #e3e3e3
}

.frame-article .frameWrapper .articleListBlock .articleList .article .blockWrapper .nc-form textarea {
background: #f4f4f4;
border: 1px solid #e3e3e3;
width: 100% !important;
color: #000;
}

.articleListBlock .articleList .article {
background: #fff;
padding: 20px 0;
}

.form-headline {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 12px;
  font-size: 20px;
}

.nc-field {
  color: #fff;
}

.nc-field a {
  text-decoration: underline;
}

.newsListBlock .newsList .item {
  border-bottom: 1px solid #eee;
  /*margin-bottom: 20px;*/
  margin: 0 0px 20px 0;
  width: 100%;
}

.col-sm-3 .frame-article .frameWrapper {
background: #fff;
}

.col-sm-3 .frame-article .frameWrapper {
margin-bottom: 20px; 
}

.frame-article .frameWrapper .left-reviews .banner,
.frame-article .frameWrapper .left-reviews .bannerList {
  height: 370px;
}

.frame-article .frameWrapper .promoBlock .navBlock .step {
    height: 7%;
    opacity: 1;
}
.frame-article .frameWrapper .promoBlock .navBlock .step:hover {
opacity:1;
background: none;
}

.frame-article .frameWrapper .promoBlock .navBlock .step-prev {
  left: 0;
  top: 0;
  width: 8px;
  height: 16px;
  border: 2px solid #206b47;
  padding: 13px;
}

.jsEnabled .promoBlock:first-child .navBlock .step-prev:before {
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  border: 3px solid;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  border-right: 0;
  border-top: 0;
  margin-left: 0;
}

.frame-article .frameWrapper .promoBlock .navBlock .step-next {
  top: 0;
  right: 2px;
  top: 0;
  width: 8px;
  height: 16px;
  border: 2px solid #206b47;
  padding: 13px;
}

.jsEnabled .promoBlock:first-child .navBlock .step-next:before {
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  border: 3px solid;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  margin-left: 15px;
}

.frame-article .frameWrapper .left-reviews .navBlock .step-next:before {
  border-right-color: #206b47; */
  position: absolute;
  top: 13px;
  left: 5px;
  width: 0;
  height: 0;
  transform: translateY(-50%) rotate(45deg);
  margin-left: 0;
  border: 5px solid transparent;
  border-color: #206b47 #206b47 transparent transparent;
}


.frame-article .frameWrapper .left-reviews .navBlock .step-prev:before {
  border-right-color: #206b47; */
  position: absolute;
  top: 13px;
  left: 11px;
  width: 0;
  height: 0;
  transform: translateY(-50%) rotate(45deg);
  margin-left: 0;
  border: 5px solid transparent;
  border-color: transparent transparent #206b47 #206b47;
}

.frame-article .frameWrapper .promoBlock {
  padding-top: 10px;
  text-align: left;
}

.frame-article .frameWrapper .left-reviews {
  padding-top: 20px;
}

/*.frame-article .frameWrapper .left-presen .banner {
  position: relative;
}*/

.jsEnabled .promoBlock .navBlock {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 60px;
  height: 30px;
}

.jsEnabled .left-reviews .navBlock {
  top: 20px;
}

.frame-article .frameWrapper .left-presen .banner:after {
  content: '';
  display: block;
  position: absolute;
  background: url(../vis/pdf-green-bg-top.png);
  width: 100%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 85%;
}

.left-reviews {
  text-align: left !important;
}

.left-reviews .form-headline {
  margin-left: 20px;
  color: #000;
  border-bottom: none;
  margin-bottom: 0;
}

.left-presen .form-headline {
  color: #000;
  border-bottom: none;
  margin-bottom: 0;
  padding-left: 20px;
}

.frame-article .frameWrapper .promoBlock .bannerList {
  margin-top: 10px;
  position: relative;
}

.frame-article .frameWrapper .left-reviews .bannerList {
  margin-top: 20px;
}

.left-presen .bannerList {
  box-shadow: inset 0 46px 36px -31px #206b47, inset 0 -25px 25px -25px #206b47;
}

.left-reviews .bannerList {
  padding-top: 0 !important;
}

.frame-article .frameWrapper .left-presen .bannerList:before {
  content: '';
  position: absolute;
  top: -4px;
  right: 15px;
  background: url(../vis/pdf-icon.png) center center no-repeat;
  width: 59px;
  height: 88px;
  z-index: 2;
}

.form-headline {
  padding-top: 0;
}

.form-headline:before, .form-headline:after {
  display: none;
}

.nc-form .nc-field:nth-child(2), .nc-form .nc-field:nth-child(3) {
  width: 100%;
}

.bannerList .banner .textBlock-outer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom:5px;
  background-color: #206b47;
  padding: 15px 25px;
  text-align: left;
}

.left-reviews .bannerList .banner .textBlock-outer {
  padding: 10px;
}

.bannerList .banner .textBlock-outer a {
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  line-height: 20px;
  width: 100%;
  display: block;
  font-weight: normal;
}

.step-side {
    background: rgba(0,0,0,0);
}

footer .block-about .socialList {
  margin-top: 0;
}

footer .block-about .soc {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 0 15px 20px;
    background-color: #efefef;
}

@media screen and (max-width:1200px) {
  .form-headline {
    font-size: 1.4rem !important;
  }

  .frame-article .frameWrapper .promoBlock .navBlock .step-prev {
    left: 177px;
  }

  .frame-article .frameWrapper .promoBlock .navBlock .step-next {
    right: 8px;
  }

  .newsListBlock .newsList {
    padding-left: 0;
  }
}

@media screen and (max-width:1150px) {
  .headerContactsWrapper {
    max-width: 510px;
    padding: 0;
  }

  header .informationBlock .socialListBlock {
    margin: 0;
  }

  header .mainMenuBlock .blockWrapper {
    margin: 0 0 auto auto;
    padding-left: 0;
    /*max-width: 880px !important;*/
  }

  header .mainMenuBlock .blockWrapper>.menuItemList {
    float: right;
  }

  header .informationBlock .contactListBlock .contactList .contact {
    margin-left: 0;
  }

  header .informationBlock .contactListBlock .contactList .contact-mail a {
    margin-right: 27px;
  }

  .itemWrapper .itemDateWrapper {
    width: 42%;
  }

  .overscroll header .workRussia {
    left: 80px;
  }
}

@media screen and (max-width:1025px) {
  /*header .mainMenuBlock .blockWrapper {
    max-width: 720px !important;
  }*/

  .headerContactsWrapper {
    margin-right: 0;
  }

  .overscroll header .workRussia {
    left: -80px;
  }
}

@media screen and (max-width:800px) {
    .articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
        padding: 0; 
    }
    .articleListBlock .articleList .article .blockWrapper {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    /* padding: 0; */
    }
    .articleListBlock .articleList .article .blockWrapper {
    padding: 0;
    }
}


@media screen and (max-width:990px) {
    .itemWrapper .itemTitle {
        width: initial;
        float: none;
        margin-left: -10px;
    }
}

@media screen and (max-width:960px) {
  header .mainMenuBlock .blockWrapper {
    max-width: 100% !important;
  }

  .overscroll header .mainMenuBlock .blockWrapper {
    max-width: 100% !important;
  }

  .overscroll header .logo {
    top: -11px !important;
  }
  .frame-desc{
    display: none;
  }
}

@media screen and (max-width:860px) {
  header .logo {
    height: 51px;
    width: 190px;
    margin: 11px 0 0 -437px !important;
    left: 52% !important;
  }
}

@media screen and (max-width:754px) {
    .itemWrapper .itemTitle {
        width: 50%;
    }
}
@media screen and (max-width:767px) {
  .frame-items{
    display: flex;
    flex-direction: column-reverse;
  }
  .frame-item{
    order: -1;
  }
}
@media screen and (max-width:720px) {
   header .logo {
       left: 0 !important;
       top: 0 !important;
       margin: 0 !important;
       height: 100% !important;
   }

  .menuSwitched header .mainMenuBlock .blockWrapper .submenuBlock {
    height: auto;
  }

  header .mainMenuBlock .blockWrapper .submenuBlock>.menuItemList {
    float: none !important;
  }
}

@media screen and (max-width:640px) {
    .articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    padding: 0;
    }
     .articleListBlock .articleList .article .blockWrapper {
    padding: 0;
    }
    header .logo {
       left: 25px !important;
       top: 0 !important;
       margin: 0 !important;
       height: 100% !important;
   }

   .overscroll header .logo {
    top: 0px !important;
    left: 35px !important;
   }
}

@media screen and (max-width:540px) {
    .articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    padding: 0;
    }
     .articleListBlock .articleList .article .blockWrapper {
    padding: 0;
    }
    
    header .logo {
       left: 35px !important;
       top: 0 !important;
       margin: 0 !important;
       height: 100%;
       width: 135px;
   }

   .jsEnabled .promoBlock .bannerList .banner .textBlock {
      top: 50% !important;
   }
}

@media screen and (max-width:480px) {
    .articleListBlock .articleList .article:nth-of-type(even) .blockWrapper {
    padding: 0;
    }
     .articleListBlock .articleList .article .blockWrapper {
    padding: 0;
    }
    
    header .logo {
       top: 0 !important;
       margin: 0 !important;
       height: 100%;
   }
}

@media screen and (max-width:390px) {
    
}
