*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 900;
    color: #fff;
}
h2{
    text-transform: uppercase;
    font-size: 25px;
    color: #FFB238;
    margin-bottom: 15px;
    font-weight: 900;
}
p{
    margin-bottom: 15px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 8px;
}
li:before{
    content: "";
    width: 10px;
    height: 10px;
    background: #FFB238;
    display: inline-block;
    border-radius: 100%;
    margin-right: 15px;
}
.slick-slide{
    outline: none;
}
.slick-dots li:before{
    display: none;
}
.slick-dots{
    display: flex;
        align-items: center;
        justify-content: center;
}
.slick-dots li{
    margin: 7px 2px;
    padding: 5px;
    cursor: pointer;
}
.slider-slick-dot {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #FFB238;
    transition: 0.2s;
}
.slick-dots .slick-active .slider-slick-dot{
    background: #FFB238 !important;
}



header{
    height: 90px;
}
.header__wrap{
    height: 90px;
    background: #FFB238;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}
.header__wrap .container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header__item{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 30px;
}
.header__info-title{
    font-size: 12px;
    color: #2D2D2D;
    margin-bottom: 5px;
    width: 200px;
}
.header__info-tel{
    font-size: 12px;
    color: #2D2D2D;
    text-decoration: underline;

}
.header__item nav a{
    color: #211F20;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 0;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.2s;
}
.header__item nav a:hover{
    color: #000000;
    text-decoration: underline;
}
.header__order a{
    color: #FFB238;
    background: #fff;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.2s;
}
.header__order a:hover{
    background: #211F20;
}
.prew{
    height: 630px;
    position: relative;
    margin-bottom: 240px;
}
.prew__bg-mask{
    position: absolute;
    z-index: -1;
    background: rgba(56, 56, 56, 0.77);
    height: 100%;
    width: 100%;
}
.prew__bg{
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prew__info-wrap{
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
}
.prew__info-title{
    color: #fff;
    margin-bottom: 20px;
    width: 500px;
    font-weight: 900;
}
.prew__info-desc{
    text-transform: uppercase;
    color: #FFB238;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 25px;
}
.prew__info-list li{
    color: #ECECEC;
}
.cat-page__item{
    margin-bottom: 15px;
}
.cat-slider__item-wrap, 
.cat-page__item-wrap{
    background: #fff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 40px 30px 40px;
    text-decoration: none;
    outline: none;
    margin-bottom: 15px;
}
.cat-slider__init{
    margin: 0 -15px;
}
.cat-slider__item, 
.cat-page__ite{
    padding: 0 15px;
}
.cat-slider__item-img, 
.cat-page__item-img{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}
.cat-slider__item-img img, 
.cat-page__item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
    backface-visibility: hidden;
}
.cat-slider__item-wrap:hover .cat-slider__item-img img, 
.cat-page__item-wrap:hover .cat-page__item-img img{
    transform: scale(0.95);
}
.cat-slider__item-title, 
.cat-page__item-title{
    font-weight: 900;
    text-transform: uppercase;
    color: #696969;
    text-align: center;
    transition: 0.2s;
}
.cat-slider__item-wrap:hover .cat-slider__item-title, 
.cat-page__item-wrap:hover .cat-page__item-title{
    color: #ffb238;
}
.prew .cat-slider{
    position: absolute;
    right: 0;
    left: 0;
}
.txt{
    margin-bottom: 80px;
}
.txt h2{
    margin-bottom: 30px;
}
.txt ul{
    margin: 20px 0;
}
.cat{
    margin-bottom: 80px;
}
.cat h2{
    margin-bottom: 30px;
}
.cat__items{
    margin-bottom: 15px;
}
.cat__item{
    margin-bottom: 30px;
}
.cat__item-wrap{
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
    display: inline-block;
    text-decoration: none;
    color: #000;
    height: 100%;
}
.cat__item-price{
    text-align: right;
    font-weight: 900;
    margin-bottom: 10px;
    color: #FFB238;
}
.cat__item-img{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
}
.cat__item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
    backface-visibility: hidden;
}
.cat__item-wrap:hover .cat__item-img img{
    transform: scale(0.95);
}
.cat__item-title{
    font-weight: 900;
    margin-bottom: 15px;
    transition: 0.2s;
}
.cat__item-wrap:hover .cat__item-title{
    color: #FFB238;
}
.cat__item-feat-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.cat__item-feat-wrap p{
    margin: 0;
}
.cat__item-feat{
    margin-bottom: 15px;
}
.cat__btn{
    text-decoration: none;
    color: #fff;
    background: #FFB238;
    padding: 10px 20px;
    font-weight: 900;
    transition: 0.2s;
    display: inline-block;
}
.cat__btn:hover{
    background: #211f20;
}
.technics{
    position: relative;
    margin-bottom: 70px;
}
.technics h2{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}
.technics__mask{
    position: absolute;
    background: rgba(77, 77, 77, 0.78);
    z-index: -1;
    width: 100%;
    height: 100%;
}
.technics__bg{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -2;
}
.technics .container{
    padding: 30px 15px;
}
.technics__slider-init{
    margin: 0 -15px;
}
.technics__slider-item{
    padding: 0 15px;
}
.technics__slider-item-wrap{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 134px;
    padding: 25px 30px;
}
.technics__slider-item-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.technics .slick-dots{
    margin: 25px 0 0;
}
.advantages{
    margin-bottom: 100px;
}
.advantages__title{
    margin-bottom: 70px;
    max-width: 700px;
}
.advantages__item{
    margin-bottom: 30px;
    position: relative;
}
.advantages__item-icon{
    position: absolute;
    right: 6px;
    top: -17px;
    width: 58px;
}
.advantages__item-wrap{
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.15);
    padding: 15px;
    height: 100%;
}
.advantages__item-title{
    color: #FFB238;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 900;
    max-width: 270px;
}
footer{
    background: #3C3C3C;
    padding: 70px;
}
.footer__info{
    display: flex;
    color: #fff;
}
.footer__info-icon-wrap{
    margin-right: 15px;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_contacts-tel{
    margin-bottom: 10px;
}
.footer_contacts-tel-num{
    display: flex;
}
.footer_contacts-tel-num a{
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.footer_contacts-tel-num a:hover{
    color: #d68300;
}
.footer_contacts-tel-icon{
    margin-right: 15px;
}
.footer_contacts-tel span{
    color: #A6A6A6;
    font-size: 12px;
}
.footer_contacts-tel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_contacts-mail{
    display: flex;
}
.footer_contacts-mail-icon{
    margin-right: 15px;
}
.footer_contacts-mail a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.footer_contacts-mail a:hover{
    color: #d68300;
}
.footer__lnk-popup a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFB238;
    height: 40px;
    transition: 0.2s;
}
.footer__lnk-popup a:hover{
    background: #d68300;
}
#call-back, 
#call-back-buy{
    display: none;
    width: 450px;
    max-width: 450px;
}
.call-back__form, 
.call-back-buy__form{
    display: flex;
    flex-direction: column;
}
.call-back__form-title, 
.call-back-buy__form-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #585858;
    margin-bottom: 20px;
}
.call-back__form-inp, 
.call-back-buy__form-inp{
    display: flex;
    flex-direction: column;
}
.call-back__form-inp span, 
.call-back-buy__form-inp span{
    margin-bottom: 5px;
    color: #9c9c9c;
}
.call-back__form-inp input, 
.call-back-buy__form-inp input{
    height: 40px;
    padding: 0 15px;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid #ffc466;
}
.call-back__form-inp, 
.call-back-buy__form-inp{
    margin-bottom: 15px;
}
.call-back__form-btn, 
.call-back-buy__form-btn{
    border: none;
    min-width: 110px;
    height: 40px;
    color: #eaeaea;
    background: #565656;
    margin-top: 10px;
}
.call-back-buy__info{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.call-back-buy__info span{
    margin-bottom: 5px;
    color: #9c9c9c;
}
.call-back-buy__tech{
    border: none;
    font-size: 16px;
    background: none;

}
.prew-page{
    height: 220px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.cat-page{
    margin-bottom: 90px;
}
.note{
    margin-bottom: 120px;
}
.note__slider-item{
    height: 300px;
}
.note__slider-dot{
    margin: 0 -7px;
}
.note__slider{
    margin-bottom: 5px;
}
.note__slider-item img, 
.note__slider-dot-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.note__slider-dot-item{
    height: 78px;
    padding: 7px;
}
.note-spec{
    padding: 18px 18px 40px 18px; 
    position: relative;
    border: 2px solid #FFB238;
    margin-top: 21px;
    margin-bottom: 57px;
}
.note-spec__title{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.note-spec__price{
    position: absolute;
    top: -23px;
    right: -11px;
    background: #FFB238;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    color: #020200;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.note-spec__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 0 35px;
    background: #FFB238;
    text-transform: uppercase;
    position: absolute;
    bottom: -23px;
    left: -11px;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}
.note-spec__btn:hover{
    background: #d68300;
    color: #fff;
}
.note-spec__item{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin-bottom: 8px;
}
.note-spec__item:after{
    content: "";
    border-bottom: 1px solid #C4C4C4;
    flex-grow: 1;
    margin: 0 10px;
}
.note-spec__item span{
    font-size: 14px;
}
.note-spec__item span:last-child{
    order: 1;
}
.note-desc__title{
    color: #FFB238;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.contacts{
    margin-bottom: 40px;
}
.contacts__item{
    display: flex;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contacts__item span:first-child{
    color: #B9B9B9;
    margin-right: 15px;
}
.contacts__item span:last-child, 
.contacts__item a{
    color: #FFB238;
    text-decoration: none;
    transition: 0.2s;
}
.contacts__item a:hover{
    color: #d68300;
}