*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	height: 300vh;
}
a{
	color: #000;
	text-decoration: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
li{
	list-style-type: none;
}
img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5{
	font-weight: 100;
}

/*HEADER_________________________*/
header{

}
.logo{
	width: 100%;
	margin-top: 10px;
}
.logo:hover{
	animation: pulse 1s steps(30);
}
.header__items-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__info-box {
	display: flex;
	margin: 26px 0 20px;
	justify-content: space-between;
	overflow: hidden;
}
.header__info-contacts {
	margin-left: 4px;
	font-size: 13px;
	position: relative;
}
.header__menu-box ul{
	display: flex;
	justify-content: space-around;
}
.header__menu-box li{
	background: #eaeaea;
	width: 100%;
	border: 3px solid #fff;
	height: 40px;
}
.header__menu-box a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.header__menu-box a:hover{
	background: #1a5283;
	color: #fff;
}
.header__search-box form{
	display: flex;
	justify-content: center;
	margin-top: 20px
}
.header__search-box input{
	width: 75%;
	height: 35px;
	padding: 0 15px;
	border: 1px solid #1a5283;
	border-right: none;
}
.header__search-box button{
	width: 100px;
	background: #1a5283;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}
.header__search-box button:hover{
	background: #05345d;
}
.header__search-box button i{
	font-size: 20px;
	color: #fff;
}


/*Slide_____________________________*/
.slide{
	margin-top: 20px;
}
.slide__img-cont{
	padding-right: 0 !important;
}
.slide__img-box{
	width: 100%;
	height: 300px;
}
.slide__text{
	padding: 0 15px !important;
}
.slide__text-cont{
	background: #1a5283;
	padding: 18px 20px 28px 20px;
	max-height: 300px;
}
.slide__title{
	font-size: 17px;
	color: #fff;
}
.feature__cont{
	border: none !important;
}
.slide-descrpt{
	font-size: 13px;
	margin-top: 10px;
	color: #dcdcdc;
}
.slide__text form{
	background: #cecece;
	display: flex;
	flex-direction: column;
	padding: 6px 7px;
	margin-top: 13px;
}
.slide__text input,
.slide__text button{
	margin:  7px 0;
	height: 35px;
	padding: 0 10px;
	text-align: center;
	border: none;
}
.slide__text button{
	background: #e21c2a;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
.slide__text button:hover{
	background: #a9000c;
}

/*Company________________________*/
.company{
	margin-top: 20px;
}
.conpany__img-box{
	height: 62px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	outline: none;
}
.conpany__img-box img{
	width: 70%;
	height: 100%;
	object-fit: contain;

}
.prev-arrows,
.next-arrows{
	position: absolute;
	left: -30px;
	top: 14px;
	font-size: 30px;
	cursor: pointer;
	color: #1a5283;
	transition: 0.2s;
}
.prev-arrows:hover,
.next-arrows:hover{
	color: #002240;
	transform: scale(1.3);

}
.next-arrows{
	right: -30px;
	left: auto;
}


/*Features___________________________*/
.feature{
	margin-top: 5px;
}
.feature__cont{
	background: #1a5283;
	background-image: url(../img/wold.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 20px;
	border: 15px solid #fff
}
.feature__title{
	color: #fff;
	font-size: 19px;
	padding-top: 15px;
}
.feature__descript{
	font-size: 14px;
	color: #d8d8d8;
	margin-top: 10px;
}

/*News____________________________________*/
.news{
	margin-top: 20px;
}
.news__title-cont{
	margin-bottom: 20px;
	font-size: 20px;
}
.news-calendar{
	background: #1a5283;
	color: #fff;
	position: absolute;
	top: 52px;
	right: 0;
}
.news__text-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.news__text-box a{
	transition: 0.2s;
}
.news__img-box{
	padding-left: 0;
}
.news__img-box a:hover img{
	animation: pulse 1s steps(30);
}
.news__img-box img{
	height: 180px;
	transition: 0.2s;
}
.news-calendar p{
	padding: 12px 12px 14px 12px;
	text-align: center;
	font-size: 19px;
}
.news__title{
	font-size: 20px;
	text-align: center;
}
.news__text-desc{
	font-size: 15px;
	text-align: center;
	margin-top: 14px;
	padding: 0 10px;
	color: #505050;
}
.news__items-wrap{
	margin: 30px 0;
}
.info-form__text,
.news__preview-text{
	flex: 0 0 48.8%;
}
.news__preview-text{
	background: #eaeaea;
	justify-content: center;
	align-items: center;
	display: flex;
	padding-top: 15px;
	padding-bottom: 35px;
}
.about-cont{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about-box{
	background: #fff;
	padding: 15px 30px;
	margin-top: 15px;
}

/*Info Form__________________________________*/
.info-form{
	margin-top: 40px;
}
.info-form__text{
	background: #1a5283;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 0 30px;
}
.info-form__img{
	padding-right: 0;
}
.info-form__text-title{
	font-size: 22px;
	color: #fff;
	margin-top: 15px
}
.info-form__user-box{
	display: flex;
	margin-top: 35px;
}
.info-form__user-box img{
	width: 70px;
}
.info-form__user-desc{
	margin-left: 15px;
}
.user-position,
.user-name,
.user-phone{
	color: #fff;
	margin-bottom: 5px;
	font-weight: 100;
}
.user-position{
	font-size: 13px;
}
.info-form_form{
	display: flex;
	margin-top: 35px;
}
.info-form_form form{
	background: #cecece;
	padding: 10px 10px 10px 10px;
	min-width: 320px;
}
.info-form_form input,
.info-form_form button{
	border: none;
	height: 40px;
	width: 100%;
	margin: 5px 0;
	padding: 0 15px;
	text-align: center;
}
.info-form_form button{
	background: #e21c2a;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
.info-form_form button:hover{
	background: #a2000b;
}
.info-form__title-form{
	color: #fff;
	display: flex;
	align-items: center;
	margin-right: 5px;

}










































































@media screen and (max-width: 1199px){
	.header__menu-box a{
		font-size: 13px;
	}
	.info-form_form form{
		min-width: 240px;
	}
	.info-form__title-form{
		font-size: 13px;
	}
	.info-form__user-box,
	.info-form_form{
		margin-top: 15px;
	}
	.slide__title{
		font-size: 15px;
	}
	.slide-descrpt{
		font-size: 12px;
	}
	.about-box p{
		font-size: 13px;
	}
	.logo{
		margin-top: 25px;
	}
	.slide__text form{
		margin-top: 23px;
	}
}
@media screen and (max-width: 1040px){
	.prev-arrows, 
	.next-arrows{
		display: none;
	}
}
@media screen and (max-width: 991px){
	.slide__img-cont{
		padding: 0 15px !important;
	}
	.slide__text{
		padding-right: 0;
	}
	.about-box{
		padding: 15px 10px;
	}
	.news__title{
		font-size: 15px;
		text-align: left;
	}
	.news__text-desc{
		font-size: 12px;
		text-align: left;
		padding: 0
	}
	.info-form__text-title{
		font-size: 15px;
	}
	.user-position, 
	.user-name, 
	.user-phone{
		font-size: 12px;
	}
	.info-form_form input, 
	.info-form_form button{
		height: 32px;
	}
	.info-form_form{
		flex-direction: column;
	}
	.info-form_form form{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.header__menu-box{
		display: none;
	}
	.logo{
		margin-top: 10px;s
	}
}
@media screen and (max-width: 767px){
	.info-form__text, 
	.news__preview-text{
		flex: auto;
	}
	.info-form__img{
		padding: 0;
	}
	.slide__text button{
		font-size: 12px;
	}
}