/*! normalize.css */button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	transition: 0.2s;
}
/*Fonts_______________________________*/

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*Style________________________________*/
body{
	font-family: 'montserratregular';
	background: #eaeaea;
    height: 500vh;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #373F65;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #21232d;
}
header{
	position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    position: relative;
}
.logo{
    width: 270px;
}
.header__top-items{
	height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
    z-index: 9;
    background: #fff;
}
.header__nav, 
.header__info-box{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 0;
}
.header__info-nav a, 
.header__info-nav p,
.header__callback-lbutton p,
.header__search-button p{
	color: #373F65;
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    transition: 0.2s;
    position: relative;
}
.header__info-box a, 
.header__info-box p{
	color: #00b6fc;
    font-size: 17px;
    font-weight: 100;
}
.header__callback-lbutton{
    float: right;
}
.header__search-button{
    float: left;
}
.header__info-nav a:after{
	content: "";
    left: 10px;
    border-bottom: 1px solid #32418c;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    transition: 0.2s;
}
.header__info-nav a:hover{
	color: #000;
}
.header__info-nav a:hover:after{
	right: 10px;
	-webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.header__nav>nav>ul>li{
    position: relative;
}
.header__nav>nav>ul{
	display: flex;
}
.header__nav>nav>ul>li>ul{
	position: absolute;
    background: #2fc1ee;
    padding: 10px 5px;
    display: none;
    top: 41px;
    left: 0;
}
.header__nav>nav>ul>li:hover>ul{
    display: block;
}
.header__nav>nav>ul>li>ul:before{
    content: "";
    border: 9px solid transparent;
    border-bottom: 8px solid #2fc1ee;
    position: absolute;
    top: -17px;
    left: 23px;
}
.header__nav li>ul>li>a{
    font-size: 14px;
}
.header__callback-lbutton{
	border-bottom: 3px solid #32418c;
}
.header__search{
    width: 242px;
}
.header__callback-lbutton,
.header__search-button{
	margin: 10px 0;
    border-bottom: 2px solid #373F65;
    cursor: pointer;
    position: relative;
    width: 210px;
    transition: 01s;
}
.header__callback-lbutton p{
    text-align: right;
}
.header__callback-lbutton p,
.header__search-button p{
	padding: 0px;
    display: block;
}
.hexagon{
    position: absolute;
    left: -33px;
    bottom: -20px;
    width: 35px;
}
.hexagon-search{
    position: absolute;
    right: -33px;
    bottom: -21px;
    width: 35px;
}
.hexagon-search-bg, 
.hexagon-search-icon,
.hexagon-bg,
.hexagon-icon{
    transition: 0.2s;
}
.header__search-button:hover .hexagon-search-icon, 
.header__callback-lbutton:hover .hexagon-bg{
    fill: #373F65;
}
.header__search-button:hover .hexagon-search-bg,
.header__callback-lbutton:hover .hexagon-icon{
    fill: white;
}
.header__search-button:hover, 
.header__callback-lbutton:hover {
    width: 187px;
}

.header__form-search{
	background: #373F65;
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 70px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-search-active{
}
.search-animate-add{
	-webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.search-animate-remove{
	-webkit-animation-name: fadeOutUpBig;
    animation-name: fadeOutUpBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.header__form-search input{
    width: 850px;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 0 15px;
}
.header__form-search button{
    height: 40px;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.slick-track{
    height: 700px;
}
.top-items-wraper{
    position: relative;
}
.top-items-wraper img{
    outline: none;
}
.site-descript{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.site-descript h1{
    border-left: 3px solid #0AAFEC;
    text-shadow: 0px 0px 0px #000;
    padding-left: 25px;
    max-width: 800px;
}
.company-features-box{
    background: #fff;
    padding: 15px;
    box-shadow: 0px 4px 20px -5px #000000;

}
.company-features{
    position: absolute;
    width: 100%;
    bottom: -70px;
}
.company-features-title{
    text-align: center;
    font-size: 20px;
    margin: 5px 0 20px;
    font-weight: 600;
}
.clock-work-desc{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 15px;
}
.clock-work-box{
    margin-top: 32px;
}
.clock-work-desc p:first-child{
    font-weight: 600;
}
.company-features-form{
    padding: 0 35px;
}
.company-features-form input, 
.company-features-form button{
    border: none;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
   /* background: url(../img/path.svg);
    background-size: contain;
    background-repeat: no-repeat;*/
    text-align: center;
    outline: none;
    font-size: 14px;
    width: 100%;
    padding: 0px;
    background: none;
    border-top: 2px solid #2FC1EE;
    border-bottom: 2px solid #2FC1EE;
}
.company-features-form button{
    cursor: pointer;
    max-width: none !important;
    background: #2FC1EE;
    color: #fff;
    transition: 0.2s;
}
.company-features-form button:hover,
.button-conultation:hover{
    color: #000;
    font-size: 15px;
}
.input-item:after{
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDciIGhlaWdodD0iODgiIHZpZXdCb3g9IjAgMCA0NyA4OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48bGluZSB4MT0iNDUuMDYwNyIgeTE9IjEuMDYwNjYiIHgyPSIxLjA2MDY2IiB5Mj0iNDUuMDYwNyIgc3Ryb2tlPSIjMkZDMUVFIiBzdHJva2Utd2lkdGg9IjMiLz48bGluZSB4MT0iMS4wNjA2NiIgeTE9IjQyLjkzOTMiIHgyPSI0NS4wNjA3IiB5Mj0iODYuOTM5MyIgc3Ryb2tlPSIjMkZDMUVFIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
    width: 55px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -10px;
    background-size: contain;
}
.input-item:before{
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDciIGhlaWdodD0iODgiIHZpZXdCb3g9IjAgMCA0NyA4OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48bGluZSB4MT0iNDUuMDYwNyIgeTE9IjEuMDYwNjYiIHgyPSIxLjA2MDY2IiB5Mj0iNDUuMDYwNyIgc3Ryb2tlPSIjMkZDMUVFIiBzdHJva2Utd2lkdGg9IjMiLz48bGluZSB4MT0iMS4wNjA2NiIgeTE9IjQyLjkzOTMiIHgyPSI0NS4wNjA3IiB5Mj0iODYuOTM5MyIgc3Ryb2tlPSIjMkZDMUVFIiBzdHJva2Utd2lkdGg9IjMiLz48L3N2Zz4=);
    width: 55px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -10px;
    background-size: contain;
    transform: rotate(180deg);
}
.company-consultation .input-item:before, 
.input-btn:before{
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAABYCAMAAABS3l7nAAAASFBMVEUAAAAwv+8wv+cwv+8wv+owv+8wv+8wv+wwv+wwwuwuv+0wwe0uwe0wwe0uwe0wwe0uwewwwe0vwu4vwu8vwe4vwe4vwe4vwe4iel9oAAAAF3RSTlMAECAgMDBAUGBgcHB/gI+QoKCvv8/f70K16/oAAAEFSURBVHgBldcxcoMwGAXhxYYYHOFAAnr3v2noKBhbs3/9bfeYQbibJY/ia4zvDh7Btxh/32L8fY/xBzf+4MYPNcYf3PgpMX6K8nOEv/BI3vA/UX6N8d1fjO+2CH9O5uINj+SRPO8GafxXjfFTYvx3lJ/T9ILnyo1f0/aK5zrIthc818m0veA5ufHDHuOHGuOnGuOnxPg5yjseivQU6Rml51Gdp6/O0+/Oc9uNFwEy4Aw24/33DizS85KeIj1Feor0PKVnlJ5HdZ6+Cv95TMgAGeAC/7/0Ifh1HhbpeUlPkZ4iPUV6ntIzSk9fnaffneccEzLABMJz24S379lz35hbpKdIT/kHh1O6GJeJ4noAAAAASUVORK5CYII=);
    width: 56px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: -12px;
    background-size: contain;
    transform: rotate(180deg);
}
.company-consultation .input-item:after, 
.input-btn:after{
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAABYCAMAAABS3l7nAAAASFBMVEUAAAAwv+8wv+cwv+8wv+owv+8wv+8wv+wwv+wwwuwuv+0wwe0uwe0wwe0uwe0wwe0uwewwwe0vwu4vwu8vwe4vwe4vwe4vwe4iel9oAAAAF3RSTlMAECAgMDBAUGBgcHB/gI+QoKCvv8/f70K16/oAAAEFSURBVHgBldcxcoMwGAXhxYYYHOFAAnr3v2noKBhbs3/9bfeYQbibJY/ia4zvDh7Btxh/32L8fY/xBzf+4MYPNcYf3PgpMX6K8nOEv/BI3vA/UX6N8d1fjO+2CH9O5uINj+SRPO8GafxXjfFTYvx3lJ/T9ILnyo1f0/aK5zrIthc818m0veA5ufHDHuOHGuOnGuOnxPg5yjseivQU6Rml51Gdp6/O0+/Oc9uNFwEy4Aw24/33DizS85KeIj1Feor0PKVnlJ5HdZ6+Cv95TMgAGeAC/7/0Ifh1HhbpeUlPkZ4iPUV6ntIzSk9fnaffneccEzLABMJz24S379lz35hbpKdIT/kHh1O6GJeJ4noAAAAASUVORK5CYII=);
    width: 56px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: -12px;
    background-size: contain;
}
.company-consultation{
    margin-top: 50px;
}
.company-consultation .input-item{
    height: 50px;
    display: flex;
}
.button-conultation{
    border-top: 2px solid #2FC1EE;
    border-bottom: 2px solid #2FC1EE;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2FC1EE;
    color: #fff;
}

































@media screen and (min-width: 1500px) {
    .container{
        max-width: 1500px;
    }
}
@media screen and (max-width: 1500px) {
    .container{
        width: 1200px;
    }
    .header__info-nav a, 
    .header__info-nav p, 
    .header__callback-lbutton p, 
    .header__search-button p{
        font-size: 15px;
    }
    .header__callback-lbutton, 
    .header__search-button{
        width: 144px;
    }
    .header__search-button:hover, 
    .header__callback-lbutton:hover{
        width: 135px;
    }
    .header__search{
        width: 176px;
    }
    .button-conultation{
        text-align: center;
    }
    .clock-work-desc{
        padding: 0 5px 15px;
        font-size: 13px;
    }
    .company-features-title{
        margin: 12px 0 20px;
    }
    .clock-work-box{
        margin-top: 42px;
    }
    .company-consultation{
        margin-top: 56px;
    }
}