.ajaxForm-result {
	text-align: center;
	padding-top: 20%;
}

.item_news_off {
}
.item_news_off .item_news_name {
 color: #3d4860;
}
.item_news_off .item_news_date_wrapper {
border: solid 1px #3d4860;
}
.item_news_off .item_news_date {
   color: #3d4860;
}
.item_news_off .item_news_date_year {
background: #3d4860;
    border-top: solid 1px #3d4860;
}

.all_type {
    width: 315px !important;
    height: 36px;
    border: solid 2px #FFFFFF;
}

.pc_input {
    margin: 0 23px 0 23px !important;
}

div.button, div.button span, div.checker span, div.radio span, div.selector, div.selector span, div.uploader, div.uploader span.action {
        background: url("/assets/images/default/sprite1.png") no-repeat;
        -webkit-font-smoothing: antialiased;
    }

    div.selector span {
        color: #fff;
        text-shadow: none;
    }
    div.radio span {
        background-position: -2px -492px !important;
        width: 20px;
        height: 20px;
    }
    div.radio span.checked {
        background-position: -24px -492px!important;
        width: 20px;
        height: 20px;
    }
    div.radio.focus span.checked, div.radio.hover span.checked {
        background-position: -24px -492px;
    }


.contact_type {
    line-height: 34px !important;
    display: block !important;
    margin-bottom:2px;
}

.p_all {
    color: #9d9e9f;
}
.p_active {
    color: #3d4860 !important;
}

.properties_wrapper {
    vertical-align: bottom;
}

.news_inside {
float: left;
}
.asideBlock {
float: right;
width: 270px;
}

.newsListBlock .newsList {background:#e9e8e4; border:1px #e1e1e1 solid; border-bottom:none; margin:0; padding:0; list-style:none}
.newsListBlock .item {border-bottom:1px #e1e1e1 solid; padding:12px 20px}
.newsListBlock .item a {text-decoration:none}
.newsListBlock .item .title {font-weight:normal; text-decoration:none}
.newsListBlock .item .moment {color:#909090; font-size:1rem; margin-bottom:5px}

.action {
        z-index: 10000;
        position: fixed;
}

.line a {
    display: inline-block;
}

footer {
    padding-bottom: 80px;
}

.goods_item_img {
    background-color: #fafafa;
}

.content h1 {
    font-size: 26px;
}
.content h2 {
    color: #3d4860;
    font-size: 22px;
    font-weight: bold;
    padding: 0px 0 35px 0;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    color: #3d4860;
    padding: 20px 0 20px 0;
}

.pc_left {
    margin-left: 42px !important;
    margin-right: 21px !important;
}

.pc_right {
    margin-left: 21px!important;
    margin-right: 42px !important;
}

.scheme_green_wrapper_text .scheme_green_text .scheme_title {
    font-family: LatoBold;
}

.scheme_green_wrapper_text .scheme_green_text .scheme_text {
    font-family: LatoSemibold;
}

.tarifs {
    color: #5d912d;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 219px;
    text-transform: uppercase;
    padding: 0 0 2px 23px;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#box-close {
    width: 65px;
    height: 65px;
    display: block;
    background: url(/images/gallery/cross-close.png) no-repeat;
    background-position: 18px 0px;
    z-index: 2003;
    position: absolute;
    top: 35px;
    right: 20px;
    margin-top: -22px;
    cursor: pointer;
}
#box-close span {
    font-size: 12px;
    line-height: 80px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
#photogallery {
    width: 700px;
    background:#fff;
    margin: 0 auto;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, .2);
}
#photogallery .green {
    width: calc(720px - 50px);
    padding: 10px 0 15px 50px;
    margin: 10px 0 10px -30px;
    height: auto;
    display: block;
    position: relative;
    background: rgba(84, 139, 33, 1);
    color: #fff;
}
#photogallery .green-bottom {
    padding: 0 20px;
}
#photogallery .green-bottom li {
    margin: 0;
}
#photogallery .green-bottom .list {
    padding: 8px 0 0 16px;
}
#photogallery div{margin:0;padding:0;border:0;}
#photogallery h2{
    font:16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:10px 20px;
}
#photogallery .objects-html{
    padding: 20px 20px;
    font:13px Arial, Helvetica, sans-serif;
    color: #484848;
}
#photogallery .objects-html .bold {
    font-family: 'LatoBold';
}
#photogallery p{
    font: 14px "Lato", Helvetica, sans-serif;
    margin: 0;
    padding: 0 20px;
}
#photogallery .showcase{
    margin-top:20px;
}
#photogallery .showcase-thumbnail-container{
    background-color: #fff;
    margin-top: 20px;
}
#photogallery .showcase-thumbnail{
    margin-right: 10px;
    text-align: center;
    width:130px;
    height:100px;
}
#photogallery .showcase-thumbnail img{
    
}
#photogallery .showcase-thumbnail-wrapper-horizontal .active {
    border: 2px solid #639535;
    width: 128px;
    height: 96px;
}
#photogallery .showcase-thumb-background{
    background: rgba(99, 149, 53, .7);
    width:130px;
    height:100px;
    position: absolute;
    top: 0;
    left: 0;
}
#photogallery .showcase-thumbnail.active .showcase-thumb-background{
    display: none;
}
#photogallery .showcase-content{
    background-color: #fff;
}
#photogallery .showcase-content img{
    border-radius: 7px;
}
#photogallery .showcase-arrow-previous{
    background: rgba(255, 255, 255, .4);
    background-image: url(/images/gallery/slide-prev.png);
    background-repeat: no-repeat;
    background-position: 27px center;
    border-radius: 100%;
    width: 73px;
    height: 73px;
    left: -125px;
    top:150px;
}
#photogallery .showcase-arrow-previous:hover,
#photogallery .showcase-arrow-next:hover{
    background-color: rgba(84, 139, 33, .6);
}
#photogallery .showcase-arrow-next{
    background: rgba(255, 255, 255, .4);
    background-image: url(/images/gallery/slide-next.png);
    background-repeat: no-repeat;
    background-position: 31px center;
    border-radius: 100%;
    width: 73px;
    height: 73px;
    right: -125px;
    top:150px;
}
#photogallery .showcase-thumbnail-button-backward, .showcase-thumbnail-button-forward{
    display: none !important;
    float: none !important;
}


#zgb-gallery{
}
#zgb-gallery .obj-link{
    display: inline-block;
    height: 327px;
    width:220px;
    margin:0 18px 20px 0;
    vertical-align: top;
    box-shadow: 2px 2px 2px 0px #c6c6c6;
    position: relative;
    text-decoration: none;
    -webkit-box-shadow: 4px 3px 0px 0px rgba(225,223,223,1);
    -moz-box-shadow: 4px 3px 0px 0px rgba(225,223,223,1);
    box-shadow: 4px 3px 0px 0px rgba(225,223,223,1);
}
#zgb-gallery .obj-link:hover{
    background-color: #639535;
}
#zgb-gallery .obj-link:hover .obj-name {
    color: #fff;
}
#zgb-gallery .obj-link img{box-shadow: 0px 1px 2px 0px #C6C6C6;}
#zgb-gallery .third{
    /*margin-right:0;*/
}
#zgb-gallery .obj-link .obj-price{
    height: 44px;
    position: absolute;
    width: 162px;
    bottom: 10px;
    left: 15px;
    background: url(/images/gallery/price-bg.png) no-repeat;
    font: 20px Tahoma,Arial,sans-serif;
    line-height: 43px;
    padding-left: 30px;
    font-weight: bold;
    color: #629435;
    z-index: 15;
}

#zgb-gallery .obj-link .obj-bonus{
    background: url(/images/gallery/bonus-new.png) no-repeat;
    height: 55px;
    width: 84px;
    position: absolute;
    top: 20px;
    left: -5px;
    z-index: 20;
}
#zgb-gallery .obj-link .obj-bg{
    display: none;
    width: 100%;
    height: 170px;
    background: rgba(99, 149, 53, 0.2);
    position: absolute;
    top: 0;
}
#zgb-gallery .obj-link:hover .obj-bg{
    display: block;
}
#zgb-gallery .obj-link:hover .obj-price {
    background: url(/images/gallery/price-bg-hov.png) no-repeat;
    color: #fff;
}
#zgb-gallery .obj-name{
    display: inline-block;
    padding: 5px 10px;
    width:202px;
    font:13px Arial, Helvetica, sans-serif;
    font-family: "Lato";
    font-weight: bold;
}
.obj-link {
    z-index:1;
}
#zgb-gallery .bold{font-weight: normal;font-size: 16px;}
#zgb-gallery .obj-name b{text-transform: uppercase;font-size: 16px;line-height: 25px;}
#nonebox{width:950px;height: 640px;position: absolute;display:none;    top: -300px !important; left:50%;margin:0 0 0 -475px;z-index:3002;overflow: visible;}
#overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: url(/images/1px.png);display: none;z-index:2001;overflow: hidden;}

#consOrderForm input[type='text'] {
    border-radius: 10px 10px 10px 10px; 
    border: 0 none; 
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7; 
    border-left: 1px solid #d7d7d7; 
    border-right: 1px solid #d7d7d7; 
    font-size: 19px;
    padding-left: 16px;
    padding-right: 16px;
}

#consOrderForm input[type='submit'] {
    border-radius: 10px 10px 10px 10px; 
    border: 0 none; 
    background: rgb(140,190,70);
    background: -moz-linear-gradient(top, rgba(140,190,70,1) 0%, rgba(64,111,46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,190,70,1)), color-stop(100%,rgba(64,111,46,1)));
    background: -webkit-linear-gradient(top, rgba(140,190,70,1) 0%,rgba(64,111,46,1) 100%);
    background: -o-linear-gradient(top, rgba(140,190,70,1) 0%,rgba(64,111,46,1) 100%);
    color: #fff;
    cursor: pointer;
}

#consOrderForm .consOrderForm {
    position: relative;
    font-family: Arial;
    margin: 20px 0;
    float: left;
    width: 100%;
    background-color: #76bc38;
    border-radius: 10px 10px 10px 10px;
}

#consOrderForm .consOrderForm .consOrderForm-container {
    display: inline-block;
    float: right;
    background-color: #e5e5e5;
    width: 100%;
    padding-bottom: 13px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#consOrderForm .consOrderForm .consOrderForm-container div {
    display: inline-block; 
    width: 230px; 
    margin-left: 17px; 
    margin-top: 13px;
}

#consOrderForm .consOrderForm .consOrderForm-container div input {
    width: 90%;
    height: 37px;
}

@media screen and (max-width: 800px) {
    .pc_left, .pc_right {
        margin: 0 auto 10px auto !important;
    }
}