
@media (max-width: 1200px){
	h1{
	    font-size: 36px;
	    line-height: 39px;
	}
	h2{
		font-size: 30px;
		line-height: 35px;
	}
	.main-preview__txt p{
		font-size: 14px;
	}
	.main-preview__txt h1{
	    margin: 15px 0;
	}
	.main-feat-box__title{
		font-size: 16px;
	}
	.main-feat-box__desc{
		font-size: 14px;
	}
	.main-feat h2{
		margin: 0 0 40px;
	}
	.txt-grad{
		order: -1;
	}
	.slide-box__init{
		width: 100%;
	}
	.slide-box__item{
		padding: 0;
	}
	.price-box__title{
		margin-top: 0;
		margin-bottom: 15px;
	}
	.price-box__desc{
		margin: 5px 0 25px;
	}
	.price-box__btn{
	    margin-bottom: 40px;
	}
	.price, 
	.main-feat, 
	.finished-projects, 
	.news, 
	.reviews{
		padding: 60px 0;
	}
	.price-box__title{
		font-size: 30px;
	}
	.slide-box__item{
		transform: unset !important;
	}
	.slide-box__item-wrap{
		margin-right: 0;
	}
	.slide-box__init .slick-list{
		height: auto !important;
	}
}
@media (max-width: 991px){

	.main-preview__img{
		display: none;
	}
	header nav{
		display: none;
	}
	h1{
	    font-size: 32px;
	    line-height: 39px;
	}
	.footer__item{
		margin-bottom: 35px;
	}
	.footer__nav-lnk, 
	.footer__nav-support{
		border-bottom: 1px solid #3c3c3c;
	}

	/*Мобильное меню*/
	.nav-hamb{
		display: block;
	    padding: 10px 0px;
	    position: relative;
	    width: 35px;
	    margin-left: 25px
	}
	.nav-hamb__item{
		height: 3px;
		background: #fff;
		cursor: pointer;
		width: 100%;
		transition: 0.2s;
	}
	.nav-hamb:after, 
	.nav-hamb:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 3px;
		background: #fff;
		transition: 0.2s;
	}
	.nav-hamb:before{
		top: auto;
		bottom: 0;
	}
	.nav-hamb__active .nav-hamb__item{
		width: 80%;
	}
	.nav-hamb__active:before{
		width: 55%;
	}
	.main-active{
		transform: translateX(-250px);
	}
	.mob-nav-active{
		position: fixed;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    background: #fff;
	    width: 250px;
	    z-index: 0;
	}
	.mob-nav-active ul{
		list-style-type: none;
		padding: 5px 20px;
		margin: 0;
	}
	.mob-nav-active a{
		padding: 15px 0;
	    display: flex;
	    border-bottom: 1px solid #f5f5f5;
	    color: #4c4c4c;
	}

	/*Конец стилей для меню*/
	.calback-btn{
		font-size: 13px;
		padding: 0px 10px;
		height: 28px;
	}
	.popup-calback__img{
		width: 123px;
	    right: 23px;
	    top: 147px;
	}
}
@media (max-width: 767px){
	.txt-grad,
	.txt-white{
		text-align: center;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.txt-white__title{
		margin: 0;
	}
	.txt-white__btn{
		margin-bottom: 35px;
	}
	.main-feat-box__item{
		margin-bottom: 35px;
	}
	p{
		font-size: 14px;
	}
	.logo{
		width: 130px;
	}
	.popup-calback__img{
		display: none;
	}
	.popup-calback__wrap{
		padding: 20px
	}
}
@media (max-width: 400px){
	.main-preview__txt h1 {
	    font-size: 26px;
	}
	.price-box__title{
		font-size: 24px;
	}
	.price-box__desc{
		font-size: 14px;
	}
	.slide-box__price-wrap{
		display: block;
	}
	.slide-box__price-wrap a{
		margin-top: 20px;
	    display: flex;
	    justify-content: center;
	}
	.slide-box__price{
	    text-align: center;
	}
	.slide-box__title{
		text-align: center;
	}
	h3{
	    font-size: 20px;
	}
	.ttl-center{
	    margin-bottom: 30px;
	    margin-top: 0;
	}
	.calback-btn{
		display: none;
	}
}