@font-face {
  font-family: "Monts-B";
  src: url("../fonts/Montserrat-ExtraBold.woff");
}
@font-face {
  font-family: "Monts-M";
  src: url("../fonts/Montserrat-Medium.woff");
}
@font-face {
  font-family: "Monts-R";
  src: url("../fonts/Montserrat-Regular.woff");
}

@keyframes waving {0% {transform: rotate(0deg);}50% {transform: rotate(20deg) translateY(14px) translateX(20px);}100% {transform: rotate(0deg);}}

@keyframes fadingone {0% {opacity: 0;}65% {transform: scale(1.03);opacity: 0.7;}80% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingtwo {0% {opacity: 0;}40% {transform: scale(1.1);opacity: 1;}80% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingthree {0% {opacity: 0;}60% {transform: scale(1.05);opacity: 0.6;}95% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingtfour {0% {opacity: 0;}40% {transform: scale(1.2);opacity: 0.6;}70% {opacity: 0;}100% {opacity: 0;}}
@keyframes animMenuAct {0% {opacity: 0;transform: translateY(-100px);}100% {opacity: 1;transform: translateY(0px);}}




body{
	background: #fff;
	color: #E1E1E1;
	font-family: "Monts-R";
	margin: 0;
	padding: 0;
}
h1{
	font-family: "Monts-B";
	font-size: 58px;
	margin: 20px 0;
	line-height: 60px;
	color: #292929;
}
h2{
	font-family: "Monts-B";
	font-size: 48px;
	margin: 20px 0;
	line-height: 50px;
	color: #292929;
}
h3{
	font-family: "Monts-M";
	font-size: 35px;
	margin: 20px 0;
	color: #464646
}
a{
	text-decoration: none;
	outline: none;
	transition: 0.1s;
	color: #3A398E;
	font-family: "Monts-B";
}
a:hover{
	color: #d5574c;
}
p{
	font-size: 16px;
	margin: 5px 0;
	color: #838383;
}
header{
	height: 130px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    transition: transform 0.6s;
}
header > .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-hamb{
	display: none;
}
.menu{
	display: flex;
	align-items: center;
}
header nav{
	display: flex;
	align-items: center;
}
header nav ul{
	display: flex;
}
nav li{
	list-style-type: none;
}
nav a{
	font-size: 13px;
	color: #fff;
	font-family: "Monts-R";
	padding: 10px 10px;
    text-transform: uppercase;
	transition: 0.2s;
}
nav a:hover{
	color: #F25232;
}

.logo{
	width: 200px;
	transition: 0.2s;
}
.logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.stickytop {
    background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
    height: 60px;
    animation: animMenuAct 0.5s ease;
}
.stickytop .logo {
    width: 110px;
}
.stickytop nav a {
    font-size: 13px;
}
/*Общие стили для классов______________________*/
.bg-grad{
	background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
}
.gb-gray{
	background-color: #F8F8F8;
}
.price, 
.main-feat, 
.finished-projects, 
.news, 
.reviews{
	padding: 100px 0;
}
.btn-white{
	background: #eaeaea;
	border-radius: 30px;
	padding: 12px 35px;
	display: flex;
	width: max-content;
}
.btn-white:hover{
	transform: scale(1.05);
}
.btn-grad{
	background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
	border-radius: 30px;
	color: #fff;
	padding: 12px 50px;
	display: flex;
	width: max-content
}
.btn-grad:hover{
	-webkit-filter: hue-rotate(30deg);
	transform: scale(1.05);
	color: #fff;
}
.slick-slide{
	outline: none;
}
.next-arrows div, 
.prev-arrows div{
	transition: 0.2s;
}
.next-arrows div:hover, 
.prev-arrows div:hover{
	transform: scale(1.1);
}
/*End______________________________*/
.main{
	transition: transform 0.6s;
	position: relative;
	z-index: 1;
	background: #fff;
}
.main-preview{
	height: 100vh;
	display: flex;
	position: relative;
}
.main-preview .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.main-preview_bg{
	width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.03;
    position: absolute;
    top: 0;
    left: 0;
}
.main-preview__txt, 
.main-preview__img{
    max-width: 700px;
    margin-right: 50px;
	position: relative;
	z-index: 1;
}
.main-preview__img:after{
	content: "";
    background: url(../img/preview__img-hand.png);
    width: 100px;
    height: 135px;
    display: block;
    background-repeat: no-repeat;
    animation: waving 4s ease infinite;
    position: absolute;
    top: 193px;
    right: 0;
}
.main-preview__txt h1{
	color: #fff;
	margin: 30px 0
}
.main-preview__txt p{
	color: #C6C6C6;
}
.highlight{
	width: 510px;
    height: 510px;
    background: linear-gradient(90.36deg, rgba(187, 80, 84, 0.46) 0.29%, rgba(183, 80, 85, 0) 110.4%);
    border-radius: 100%;
    position: absolute;
   	right: 111px;
    top: 200px;
}
.highlight-1, 
.highlight-2, 
.highlight-3, 
.highlight-4{
	width: 130px;
	height: 130px;
	background: rgba(183, 78, 82, 0.44);
	position: absolute;
	border-radius: 100%;
	top: -35px;
    left: -120px;
    animation: fadingone 7s linear infinite;
}
.highlight-2{
	width: 80px;
    height: 80px;
    top: 77px;
    left: -300px;
    animation: fadingtwo 7s ease infinite;
}
.highlight-3{
	width: 80px;
    height: 80px;
    top: 460px;
    left: -500px;
    animation: fadingthree 4s linear infinite;
}
.highlight-4{
	width: 45px;
    height: 45px;
    top: -73px;
    left: -400px;
    animation: fadingtfour 4s ease infinite;
}
.main-feat h2{
	margin: 0 0 60px;
	text-align: center;
}
.main-feat-box__img{
	display: flex;
    align-items: center;
    justify-content: center;
}
.main-feat-box__title{
	text-align: center;
    color: #252525;
    font-size: 20px;
    font-family: "Monts-B";
    margin: 15px 0 20px;
}
.main-feat-box__desc{
	text-align: center;
}
.price-box__title{
	font-size: 40px;
	margin-bottom: 32px;
	color: #fff;
}
.price-box__desc{
	color: #F9F9F9;
    margin: 5px 0 50px;
}

.slide-box__init 
.slide-box{
	padding-top: 30px !important;
}
.slide-box__init .slide-box__item{
	z-index: 5;
    position: relative;
    transform: translateX(93px) translateY(0px) scale(0.8);
    opacity: 0;

}
.slide-box__init .slick-active .slide-box__item{
	opacity: 1;
}
.slide-box__init .slick-active .slide-box__item, 
.slide-box__init .slick-current ~ .slick-slide .slide-box__item{
	transform: translateX(0px) translateY(-200px) scale(1);
	transition: 0.6s;

}
.slide-box__init .slick-current .slide-box__item{
	transform: translateX(111px) translateY(-25px) scale(0.8);
}
.slide-box__init .slick-list{
	height: 350px !important;

}
.slide-box__init{
	position: relative;
}
.slide-box__init .slick-dots{
	display: flex;
	justify-content: center;
	padding: 0;
}
.slide-box__init .slick-dots li{
	list-style-type: none;
}
.slide-box__init .slide-box__slick-dot{
	position: relative;
    background: #313131;
    height: 6px;
    width: 32px;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.slide-box__init .slick-dots li.slick-active .slide-box__slick-dot{
		background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
}
.slide-box__item{
	padding: 15px;
	box-sizing: border-box;
}
.slide-box__item-wrap{
	background: #fff;
	margin-right: 137px;
	padding: 35px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.slide-box__item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide-box__title{
	font-family: "Monts-B";
	font-size: 20px;
	color: #373737;
	margin: 0 0 20px;
}
.slide-box__desc{
	color: #5E5E5E;
	margin: 0 0 25px;
	height: 77px;
	overflow: hidden;
}
.slide-box__price-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slide-box__price{
	font-family: "Monts-B";
	margin: 0;
	padding: 7px 25px;
	border-radius: 30px;
	color: #fff;
}
.next-arrows, 
.prev-arrows{
	display: flex;
    align-items: center;
    position: absolute;
    right: 101px;
    bottom: 61px;
    transform: rotate(90deg);
    z-index: 9;
}
.prev-arrows{
	transform: rotate(270deg);
    bottom: 291px;
    right: auto;
    left: 87px;
}
.next-arrows-img, 
.prev-arrows-img{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAXCAMAAABd273TAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAEB8/QF9/gI+QoM/fHiK1OAAAADtJREFUeAHlyjsCQGAMBOH5kXjE3v+6Sg3Znq+d4cGqoLXJHKN+eJxqLW4IxvyqpKRxfLzvppOmw8TtAieYBqrcUSN+AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
    background-size: 100%;
    display: block;
   	width: 23px;
    height: 17px;
    cursor: pointer;
}
.txt-white{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.txt-white__desc{
	margin: 5px 0 40px;
}
.project-img-wrap img{
	width: 100%;
}
.ttl-center{
	text-align: center;
	margin-bottom: 50px;
}
.news-cont{
    margin-bottom: 25px;
    display: flex;
}
.news-cont__wrap{
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 25px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: stretch;
}
.news-cont__img{
	width: 65px;
	height: 65px;
	overflow: hidden;
	border-radius: 100%;
	position: absolute;
	right: -10px;
    top: -10px;
}
.news-cont__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-cont__title{
	font-family: "Monts-B";
	color: #000;
	margin: 0 0 15px;
	width: calc(100% - 85px);
	font-size: 17px;
}
.news-cont__desc{
	color: #838383;
	margin: 0 0 25px;
}
.news-cont__more{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news-cont__date{
	color: #838383;
	font-size: 13px;
}
.news-cont__more a{
	font-family: "Monts-R";
	border: 1px solid #373990;
	border-radius: 30px;
	font-size: 12px;
	color: #373990;
    padding: 7px 41px 7px 20px;
	position: relative;
}
.news-cont__more a:after{
	content: "";
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAARCAMAAADub6yxAAAATlBMVEUAAABAQI84OI84OI85OY82OJE1OI84OI81N5E3N483OY82OJE4OJE2Oo84Oo81OZA3OZA3Oo82OpA2OY82OZA3OZA3OpA3OZA2OZA3OZDNY3VxAAAAGXRSTlMAECBAUF9gYG9wcH9/gICPj5CfoK+/z9/vohbVOgAAAFFJREFUeAFt0MsCQCAYROHhp8g9lHn/F7WyUHOW3/Lgl88tREbtnqlRPvOG9ih95yb95AKYKwsPR1AG68sGckLdJfWQujJKTUIDs3jS6YPu0xe+dQZSkNItuAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 10px;
    right: 21px;
    transition: 0.3s;
}
.news-cont__more a:hover:after{
    right: 9px;
}
.btn-more-post{
	font-size: 14px;
	color: #000;
	padding: 5px 20px;
	background: #fff;
	border-radius: 30px;
	font-family: "Monts-R";
    float: right;
    border: 1px solid #fff;
}
.btn-more-post:hover{
	border: 1px solid #d5574c;
	transform: scale(1.05);
}
.reviews-cont{
	margin: 35px 0;
	display: flex;
}
.reviews-cont__wrap{
	position: relative;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(109, 109, 109, 0.2);
}
.reviews-cont__img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: -40px;
	left: 35px;
	border-radius: 100%;
	overflow: hidden;
}
.reviews-cont__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.reviews-cont__quotes{
	width: 100%;
	display: flex;
	justify-content: flex-end; 
}
.reviews-cont__comment{
	color: #838383;
    margin-bottom: 15px;
}
.reviews-cont__name{
	color: #000;
	text-transform: uppercase;
	font-family: "Monts-B";
}
.partners{
	padding: 30px 0;
}
.partners__wrap{
	display: flex;
}
.partners__item{
	height: 50px;
	-webkit-filter: grayscale(1);
	transition: 0.2s;
}
.partners__item:hover{
	-webkit-filter: grayscale(0);
}
.partners__item img{
	width: 100%;
    height: 100%;
    object-fit: contain;
}
.calback-btn{
	cursor: pointer;
    border: 1px solid #fff;
    padding: 8px 15px;
    font-size: 14px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    border-radius: 30px;
}
footer{
	padding: 45px 0;
	background: #252525;
	transition: 0.6s;
}
.footer__logo img{
	width: 200px;
}
.footer__logo{
	margin-bottom: 15px;
}
.footer__soc{
	display: flex;
}
.footer__soc a{
	width: 30px;
	height: 30px;
	display: flex;
	margin-right: 10px;
}
.footer__soc img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.footer__soc a:hover{
	transform: scale(1.1);
}
.footer__nav-title{
	font-family: "Monts-B";
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
}
.footer__nav-lnk, 
.footer__nav-support{
	color: #BABABA;
    font-family: "Monts-R";
    font-size: 14px;
    padding: 5px 0;
    display: flex;
}
.footer__nav-support{
	color: #d4564c;
}

/*Form______________________*/
.popup-calback{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
	display: none;
}
.popup-calback-active{
	display: flex;
}
.popup-calback__wrap{
	width: 600px;
    max-width: 600px;
    min-height: 400px;
    background: #fff;
    position: relative;
    padding: 30px 169px 30px 30px;
    cursor: default;
    z-index: 9;
    transform: scale(0.7);
    transition: 0.9s;
    margin: 0 20px;
}
.popup-calback__wrap-active{
	transform: unset;
}
.popup-calback__close{
	position: absolute;
    top: 7px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 21px;
    height: 21px;
    transition: 0.2s;
    z-index: 999;
}
.popup-calback__close:before, 
.popup-calback__close:after{
	content: "";
    display: block;
    width: 15px;
    height: 1px;
    border-bottom: 2px solid #8d496b;
    transform: rotate(45deg);
    position: absolute;
}
.popup-calback__close:after{
	transform: rotate(-45deg);
    left: 3px;
}
.popup-calback__img{
	width: 220px;
	position: absolute;
    right: -100px;
    top: 30px;
}
.popup-calback__img img{
	width: 100%;
    height: 100%;
    object-fit: contain;
}
.popup-calback__title{
	color: #292929;
	font-family: "Monts-B";
	font-size: 20px;
	text-transform: uppercase;
}
.popup-calback__desc{
	margin-bottom: 25px;
	color: #000000;
}
.popup-calback__input p{
	font-size: 14px;
	color: #9e9e9e;
}
.popup-calback__input{
	margin-bottom: 10px;
}
.popup-calback__input input, 
.popup-calback__input textarea{
	height: 40px;
    width: 100%;
    border: 1px solid #c1c1c1;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
}
.popup-calback__input textarea{
	padding-top: 10px;
	padding-bottom: 10px;
	resize: none;
	height: 65px;
	font-family: "Monts-R";
}
.popup-calback__form button{
	border: none;
	cursor: pointer;
	transition: 0.2s;
	margin: 10px 0 3px;
}
.popup-calback__agr, 
.popup-calback__agr a{
	margin: 5px 0 20px;
    font-size: 12px !important;
    color: #777777 !important;
    font-family: "Monts-R";
}
.popup-calback__agr a{
	text-decoration: underline;
}
/*End Form_________________________*/

.unpage{
	margin-top: 130px;
}
.info-pnl .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info-pnl{
	background: #F6F6F6;
	padding: 7px 0;
}
.info-pnl-title{
	font-family: "Monts-M";
	margin: 0;
    font-size: 24px;
    color: #333333;
}
.bread-crumbs ul{
	display: flex;
	padding: 0;
}
.bread-crumbs li{
	list-style-type: none;
	margin-right: 10px;
	display: flex;
	align-items: center;
}
.bread-crumbs li:after{
	content: "";
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAqFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAs30iGAAAAOHRSTlMAAgMEBQYHCBojJysuMTI0Nzg5RUxTVFVWV1laXF1eX5SVl5qdnqKmp6usrbm6u7y9vsDDxMfJylX/sfQAAACLSURBVHjafdLJEoIwEEVR0JCoiLOCyqA4DwSI0///mVXZerGX7yy6kn6OnfA6FQ5N5/aZeQRu9/xaSJJW7/hcorT9g1krlP6ujlFEkJcpy2CrM5bhpmDx/olOWSanatwEo4YlicL8TiuEzfGBBeZBrhOFn1jFlPt7s5J4qEck+bRziWV4cxnCy099vi9/DA/wWKc5AAAAAElFTkSuQmCC);
	background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 8px;
    height: 8px;
    margin-left: 10px
}
.bread-crumbs li:last-child:after{
	display: none;
}
.bread-crumbs a{
	color: #333333;
	font-size: 14px;
	font-family: "Monts-R";
}
.bread-crumbs a:hover{
	color: #F25232;
}