@font-face {
  font-family: "Monts-B";
  src: url("../fonts/Montserrat-ExtraBold.woff");
}
@font-face {
  font-family: "Monts-M";
  src: url("../fonts/Montserrat-Medium.woff");
}
@font-face {
  font-family: "Monts-R";
  src: url("../fonts/Montserrat-Regular.woff");
}

@keyframes waving {0% {transform: rotate(0deg);}50% {transform: rotate(20deg) translateY(14px) translateX(20px);}100% {transform: rotate(0deg);}}

@keyframes fadingone {0% {opacity: 0;}65% {transform: scale(1.03);opacity: 0.7;}80% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingtwo {0% {opacity: 0;}40% {transform: scale(1.1);opacity: 1;}80% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingthree {0% {opacity: 0;}60% {transform: scale(1.05);opacity: 0.6;}95% {opacity: 0;}100% {opacity: 0;}}
@keyframes fadingtfour {0% {opacity: 0;}40% {transform: scale(1.2);opacity: 0.6;}70% {opacity: 0;}100% {opacity: 0;}}


body{
	background: #fff;
	color: #E1E1E1;
	font-family: "Monts-R";
	margin: 0;
	padding: 0;
}
h1{
	font-family: "Monts-B";
	font-size: 58px;
	margin: 20px 0;
	line-height: 60px;
	color: #292929;
}
h2{
	font-family: "Monts-B";
	font-size: 48px;
	margin: 20px 0;
	line-height: 50px;
	color: #292929;
}
h3{
	font-family: "Monts-M";
	font-size: 35px;
	margin: 20px 0;
	color: #464646
}
a{
	text-decoration: none;
	outline: none;
	transition: 0.1s;
	color: #3A398E;
	font-family: "Monts-B";
}
a:hover{
	color: #d5574c;
}
p{
	font-size: 16px;
	margin: 5px 0;
	color: #838383;
}
header{
	height: 130px;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 9;
    left: 0;
    right: 0;
    top: 0;
}
header > .container{
	display: flex;
	justify-content: space-between;
}
header nav{
	display: flex;
	align-items: center;
}
header nav ul{
	display: flex;
}
nav li{
	list-style-type: none;
}
nav a{
	font-size: 18px;
	color: #fff;
	font-family: "Monts-R";
	padding: 10px 20px;
}
nav a:hover{
	color: #F25232;
}
header nav li:last-child a{
	margin-right: -20px;
}
.logo{
	width: 200px;
}
.logo img{
	width: 100%;
	height: 100%;
}

/*Общие стили для классов______________________*/
.bg-grad{
	background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
}
.gb-gray{
	background-color: #F8F8F8;
}
.price, 
.main-feat, 
.finished-projects, 
.news, 
.reviews{
	padding: 100px 0;
}
.btn-white{
	background: #eaeaea;
	border-radius: 30px;
	padding: 12px 35px;
	display: flex;
	width: max-content;
}
.btn-white:hover{
	transform: scale(1.05);
}
.btn-grad{
	background: linear-gradient(142.52deg, #373990 -1.46%, rgba(242, 82, 50, 0.94) 116.59%);
	border-radius: 30px;
	color: #fff;
	padding: 12px 50px;
	display: flex;
	width: max-content
}
.btn-grad:hover{
	-webkit-filter: hue-rotate(30deg);
	transform: scale(1.05);
	color: #fff;
}
.slick-slide{
	outline: none;
}
.next-arrows div, 
.prev-arrows div{
	transition: 0.2s;
}
.next-arrows div:hover, 
.prev-arrows div:hover{
	transform: scale(1.1);
}
/*End______________________________*/
.main-preview{
	height: 100vh;
	display: flex;
}
.main-preview .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.main-preview_bg{
	width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.03;
    position: absolute;
    top: 0;
    left: 0;
}
.main-preview__txt, 
.main-preview__img{
    max-width: 700px;
    margin-right: 50px;
	position: relative;
	z-index: 1;
}
.main-preview__img:after{
	content: "";
    background: url(../img/preview__img-hand.png);
    width: 100px;
    height: 135px;
    display: block;
    background-repeat: no-repeat;
    animation: waving 4s ease infinite;
    position: absolute;
    top: 193px;
    right: 0;
}
.main-preview__txt h1{
	color: #fff;
	margin: 30px 0
}
.main-preview__txt p{
	color: #C6C6C6;
}
.highlight{
	width: 510px;
    height: 510px;
    background: linear-gradient(90.36deg, rgba(187, 80, 84, 0.46) 0.29%, rgba(183, 80, 85, 0) 110.4%);
    border-radius: 100%;
    position: absolute;
   	right: 111px;
    top: 200px;
}
.highlight-1, 
.highlight-2, 
.highlight-3, 
.highlight-4{
	width: 130px;
	height: 130px;
	background: rgba(183, 78, 82, 0.44);
	position: absolute;
	border-radius: 100%;
	top: -35px;
    left: -120px;
    animation: fadingone 7s linear infinite;
}
.highlight-2{
	width: 80px;
    height: 80px;
    top: 77px;
    left: -300px;
    animation: fadingtwo 7s ease infinite;
}
.highlight-3{
	width: 80px;
    height: 80px;
    top: 460px;
    left: -500px;
    animation: fadingthree 4s linear infinite;
}
.highlight-4{
	width: 45px;
    height: 45px;
    top: -73px;
    left: -400px;
    animation: fadingtfour 4s ease infinite;
}
.main-feat h2{
	margin: 0 0 60px;
	text-align: center;
}
.main-feat-box__img{
	display: flex;
    align-items: center;
    justify-content: center;
}
.main-feat-box__title{
	text-align: center;
    color: #252525;
    font-size: 20px;
    font-family: "Monts-B";
    margin: 15px 0 20px;
}
.main-feat-box__desc{
	text-align: center;
}
.price-box__title{
	font-size: 40px;
	margin-bottom: 32px;
	color: #fff;
}
.price-box__desc{
	color: #F9F9F9;
    margin: 5px 0 50px;
}

.slide-box{
	padding-top: 30px !important;
}
.slide-box__init{
	width: 550px;
	position: relative;
}
.slide-box__item{
	padding: 15px;
	box-sizing: border-box;
}
.slide-box__item-wrap{
	background: #fff;
	padding: 35px;
}
.slide-box__item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide-box__title{
	font-family: "Monts-B";
	font-size: 20px;
	color: #373737;
	margin: 0 0 20px;
}
.slide-box__desc{
	color: #5E5E5E;
	margin: 0 0 25px;
}
.slide-box__price-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slide-box__price{
	font-family: "Monts-B";
	margin: 0;
	padding: 7px 25px;
	border-radius: 30px;
	color: #fff;
}
.next-arrows, 
.prev-arrows{
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
   	top: 0;
    right: -45px;
}
.prev-arrows{
	transform: rotate(180deg);
	right: auto;
	left: -45px;
}
.next-arrows-img, 
.prev-arrows-img{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAXCAMAAABd273TAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAEB8/QF9/gI+QoM/fHiK1OAAAADtJREFUeAHlyjsCQGAMBOH5kXjE3v+6Sg3Znq+d4cGqoLXJHKN+eJxqLW4IxvyqpKRxfLzvppOmw8TtAieYBqrcUSN+AAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    height: 23px;
    cursor: pointer;
}
.txt-white{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.txt-white__desc{
	margin: 5px 0 40px;
}
.project-img-wrap img{
	width: 100%;
}
.ttl-center{
	text-align: center;
	margin-bottom: 50px;
}
.news-cont{
    margin-bottom: 25px;
    display: flex;
}
.news-cont__wrap{
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 25px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: stretch;
}
.news-cont__img{
	width: 65px;
	height: 65px;
	overflow: hidden;
	border-radius: 100%;
	position: absolute;
	right: -10px;
    top: -10px;
}
.news-cont__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-cont__title{
	font-family: "Monts-B";
	color: #000;
	margin: 0 0 15px;
	width: calc(100% - 85px);
	font-size: 17px;
}
.news-cont__desc{
	color: #838383;
	margin: 0 0 25px;
}
.news-cont__more{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news-cont__date{
	color: #838383;
	font-size: 13px;
}
.news-cont__more a{
	font-family: "Monts-R";
	border: 1px solid #373990;
	border-radius: 30px;
	font-size: 12px;
	color: #373990;
    padding: 7px 41px 7px 20px;
	position: relative;
}
.news-cont__more a:after{
	content: "";
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAARCAMAAADub6yxAAAATlBMVEUAAABAQI84OI84OI85OY82OJE1OI84OI81N5E3N483OY82OJE4OJE2Oo84Oo81OZA3OZA3Oo82OpA2OY82OZA3OZA3OpA3OZA2OZA3OZDNY3VxAAAAGXRSTlMAECBAUF9gYG9wcH9/gICPj5CfoK+/z9/vohbVOgAAAFFJREFUeAFt0MsCQCAYROHhp8g9lHn/F7WyUHOW3/Lgl88tREbtnqlRPvOG9ih95yb95AKYKwsPR1AG68sGckLdJfWQujJKTUIDs3jS6YPu0xe+dQZSkNItuAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 10px;
    right: 21px;
    transition: 0.3s;
}
.news-cont__more a:hover:after{
    right: 9px;
}
.btn-more-post{
	font-size: 14px;
	color: #000;
	padding: 5px 20px;
	background: #fff;
	border-radius: 30px;
	font-family: "Monts-R";
    float: right;
    border: 1px solid #fff;
}
.btn-more-post:hover{
	border: 1px solid #d5574c;
	transform: scale(1.05);
}
.reviews-cont{
	margin: 35px 0;
	display: flex;
}
.reviews-cont__wrap{
	position: relative;
	padding: 30px;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(109, 109, 109, 0.2);
}
.reviews-cont__img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: -40px;
	left: 35px;
	border-radius: 100%;
	overflow: hidden;
}
.reviews-cont__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.reviews-cont__quotes{
	width: 100%;
	display: flex;
	justify-content: flex-end; 
}
.reviews-cont__comment{
	color: #838383;
    margin-bottom: 15px;
}
.reviews-cont__name{
	color: #000;
	text-transform: uppercase;
	font-family: "Monts-B";
}
.partners{
	padding: 30px 0;
}
.partners__wrap{
	display: flex;
}
.partners__item{
	height: 50px;
	-webkit-filter: grayscale(1);
	transition: 0.2s;
}
.partners__item:hover{
	-webkit-filter: grayscale(0);
}
.partners__item img{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

footer{
	padding: 45px 0;
	background: #252525;
}
.footer__logo img{
	width: 200px;
}
.footer__logo{
	margin-bottom: 15px;
}
.footer__soc{
	display: flex;
}
.footer__soc a{
	width: 30px;
	height: 30px;
	display: flex;
	margin-right: 10px;
}
.footer__soc img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.footer__soc a:hover{
	transform: scale(1.1);
}
.footer__nav-title{
	font-family: "Monts-B";
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
}
.footer__nav-lnk, 
.footer__nav-support{
	color: #BABABA;
    font-family: "Monts-R";
    font-size: 14px;
    padding: 5px 0;
    display: flex;
}
.footer__nav-support{
	color: #d4564c;
}



/*GRID______________________*/
.container{
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}


.col12, 
.col11, 
.col10, 
.col9, 
.col8,
.col7, 
.col6,  
.col5,
.col4, 
.col3, 
.col2, 
.col1{
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}
.col11{
	width: 91.666667%;
}
.col10{
	width: 83.333333%;
}
.col9{
	width: 75%;
}
.col8{
	width: 66.666667%;
}
.col7{
	width: 58.333333%;
}
.col6{
	width: 50%;
}
.col5{
	width: 41.666667%;
}
.col4{
	width: 33.333333%;
}
.col3{
	width: 25%;
}
.col2{
	width: 16.666667%;
}
.col1{
	width: 8.333333%;
}