* {
	margin: 0 !important;
  padding: 0 !important;
	font-family: 'Arial', sans-serif;
}

body {
background: #4a4a4a;
/*background: url(../img/bg.jpg);*/
/*overflow: hidden;*/
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header{
  background: #2d2d2d;
  min-height: 100vh;
  /*overflow: hidden;*/
  /*height: 100%;*/
}
header::-webkit-scrollbar {
  width: 5px;
}
 
header::-webkit-scrollbar-track {
  background: #ddd;
}
 
header::-webkit-scrollbar-thumb {
  background: #666; 
}
body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background: #ddd;
}
 
body::-webkit-scrollbar-thumb {
  background: #666; 
}
.content::-webkit-scrollbar {
  width: 5px;
}
 
.content::-webkit-scrollbar-track {
  background: #ddd;
}
 
.content::-webkit-scrollbar-thumb {
  background: #666; 
}

.content{
  position: relative;
  /*background: #b3b3b3;*/
  min-height: 100vh;
  /*overflow: hidden;*/
  /*height: 100%;*/
  z-index: 999;
  background: -moz-linear-gradient(45deg, rgba(150,150,150,1) 0%, rgba(229,0,21,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(150,150,150,1)), color-stop(100%, rgba(229,0,21,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(150,150,150,1) 0%, rgba(229,0,21,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(150,150,150,1) 0%, rgba(229,0,21,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(150,150,150,1) 0%, rgba(229,0,21,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(150,150,150,1) 0%, rgba(229,0,21,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50015', endColorstr='#969696',GradientType=1 ); /* ie6-9 */
}
.stop {
    position: relative;
    z-index: 1;
}
.sticky {
    position: fixed;
    z-index: 1;
}
.logo-box{
  width: 100%;
  background: #e50015;
  position: relative;
  padding: 0 5px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-title{
  font-size: 52px;
  color: #eaeaea;
}
.logo-desc{
  font-size: 16px;
  color: #bfbfbf;
}
.station-box{
  height: 151px;
  padding: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.station-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-audio{
  position: fixed;
  top: -150px;
  width: 100%;
  display: flex;
  align-items: center;
  right: 0;
  height: 150px;
  background: #201f1d;
  z-index: 9;

}
.preview-audio-active{
  
  top: 0px;
  animation-name: zoomInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.out-audio-active{
  top: 0px;
  animation-name: bounceOutRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.radio-img{
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 15px !important;
}
.radio-img img {
  height: 115px;
  width: 105px;
}

.name-art{
  color: #eaeaea;
  margin-left: 10px !important;
}
.name-radio{
  color: #969696;
  font-size: 16px;
}
.location-radio{
  font-size: 25px;
  color: #e50015;
}
.age-limit{
  font-size: 13px;
  margin: 6px 0 0 5px !important;
}
.loc-age-box{
  display: flex;
  align-items: center;
}
.wave-radio{
  font-size: 17px;
}

/*SEARCH_________*/
.form-search{
  display: flex;
  justify-content: center;
  padding: 13px 15px!important
}
.form-search input[type="search"]{
  font-size: 13px;
  padding: 12px 10px !important;
  width: 100%;
  outline: none;
  border: none;
  background: #353535;
  border-radius: 15px 0 0 0px;
  color: #d0d0d0;
}
.form-search input::-webkit-input-placeholder{color: #fff;}
.form-search input::-moz-placeholder{color:#fff;}
.form-search input:-moz-placeholder{color:#fff;}
.form-search input:-ms-input-placeholder{color:#fff;}
.form-search button{
  border: none;
  background: #650009;
  color: #fff;
  padding: 0px 10px !important;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
}
.menu-cont{
  padding: 0 15px !important;
  position: relative;
}
.menu-box{
  overflow: hidden;
  position: relative;
  height: 37px;
  border: 2px solid #2d2d2d;
  border-radius: 30px;
}
.menu-title{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px !important;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background: #353535;
}
.categor-box,
.city-box {
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 15px !important;
  z-index: -1;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
.categor-box-active, 
.sity-box-active{
  opacity: 1;
  position: static;
  z-index: 9;
  margin: 15px 0 15px 0 !important;
}
.categor-box ul, 
.city-box ul{
  list-style-type: none;
}
.categor-box a, 
.city-box a{
  font-size: 19px;
  color: #a0a0a0;
  text-decoration: none;
  padding: 6px 0 !important;
  transition: 0.1s;
}
.categor-box a:hover, 
.city-box a:hover{
  padding: 6px 5px !important;
  color: #ff7070;
}
.categor-box li, 
.city-box li{
  margin: 5px 0 !important;
}
.categor-box  i{
  font-size: 17px;
  width: 25px;
  color: #e50015;
}
.sidebar{
  z-index: 999;
  background: #2d2d2d;
}
.station-description{
  margin: 25px 0 !important;
  padding: 0 15px !important;
  color: #5a5a5a;
  font-size: 13px;
}
.station-information{
  height: 50px;
  background: #5d0000;
  margin-top: 15px !important;
}