@font-face {
  font-family: "Raleway-r";
  src: url("../fonts/Raleway-Regular.woff");
}
@font-face {
  font-family: "Raleway-m";
  src: url("../fonts/Raleway-Medium.woff");
}
@font-face {
  font-family: "Raleway-sb";
  src: url("../fonts/Raleway-SemiBold.woff");
}
@font-face {
  font-family: "Raleway-b";
  src: url("../fonts/Raleway-Bold.woff");
}


*{
	font-family: "Raleway-r";
	margin: 0;
	padding: 0;
	font-variant-numeric: lining-nums;
}
h1{
	
}
h2{
	font-size: 20px;
	color: #009028;
	text-transform: uppercase;
	margin-bottom: 15px;
	
}
h3{
	
}
a{
	color: #009028;
	text-decoration: underline;
	transition: 0.2s;
}
p{
	color: #000;
	margin-bottom: 10px;
}

/*СТИЛИ ДЛЯ ХЕДЕРА _________________________________*/
header{
	margin-bottom: 20px;
}

.head-login__top{
	background-color: #252525;
    padding-top: 11px;
}
.head-login__top-nav{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px 0;
}
.head-login__top-nav a{
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	margin-right: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-transform: uppercase;
	transition: 0.2s;
}
.head-login__top-nav a:hover{
	color: #009A2B;
}
.head-login__top-cont{
	font-size: 12px;
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
}
.head-login__top-phone, 
.head-login__top-locat{
	display: flex;
	align-items: center;
	color: #fff;
}
.head-login__top-phone p, 
.head-login__top-locat p{
	margin-right: 5px;
	margin-bottom: 0;
	color: #fff;
}
.head-login__top-phone{
	margin-right: 25px;
}
.head-login__top-phone a{
	color: #009A2B;
	text-decoration: none;
	transition: 0.2s;
}
.head-login__top-phone a:hover{
	text-decoration: underline;
}
.head-login__top-city{
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	color: #009A2B;
	transition: 0.2s;
}
.head-login__top-city:hover{
	text-decoration: underline;
}
.head-login__bottom{
	background-color: #252525;
    padding-bottom: 16px;
    transition: 0.5s;
}
.head-login__bottom-logo{
	display: flex;
	align-items: center;
}
.head-login__bottom-logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.head-login__bottom-logo a{
	display: flex;
	width: 186px;
}
.head-login__bottom-lk-img, 
.head-login__bottom-cart-img{
	margin-right: 10px;
    width: 30px;
    height: 37px;
}
.head-login__bottom-lk, 
.head-login__bottom-cart{
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 3px;
}
.head-login__bottom-cart>a>div{
	position: relative;
	height: 35px;
}
.head-login__bottom-lk-wrap p{
	font-size: 15px;
    color: #E2E2E2;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    margin-bottom: 3px;
    font-family: "Raleway-m";
}
.head-login__bottom-cart p{
	text-transform: uppercase;
    color: #E2E2E2;
    font-size: 15px;
    font-family: "Raleway-m";
}
.head-login__bottom-lk-btn{
	display: flex;
	justify-content: space-between;
}
.head-login__bottom-lk-wrap a{
	text-decoration: none;
	color: #009A2B;
	font-size: 14px;
	margin-right: 10px;
	font-family: "Raleway-m";
}
.head-login__bottom-lk-btn a:last-child{
	margin-right: 0px;
}
.head-login__bottom-cart a{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.head-login__bottom-cart-num{
	top: -5px;
	right: 2px;
	position: absolute;
	background: #8D0000;
	height: 19px;
	width: 19px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 100%;
}
.sticky {
    position: fixed;
    z-index: -1;
}

.stop {
    position: relative;
    z-index: 1;
}






/*ХЛЕБНЫЕ КРОШКИ___________________________________________*/
.bread-crumbs a{
	color: #4F4F4F;
	text-decoration: none;
	display: flex;
	align-items: center;
	position: relative;
	padding: 3px 0;
	margin-right: 17px;
	font-size: 12px;
	transition: 0.2s;
}
.bread-crumbs a:hover{
	color: #009028;
}
.bread-crumbs a:after{
	content: "";
	background: url(../img/svg/arrow-right.svg);
	background-size: 100%;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -15px;
}
.bread-crumbs li:last-child a:after{
	display: none;
}
.bread-crumbs li{
	list-style-type: none;
}
.bread-crumbs ul{
	display: flex;
}




/*КОНТЕНТ ЛИЧНОГО КАБИНЕТА______________________________________*/
.lk{
	padding-top: 20px;
	margin-bottom: 100px;
}



/*SIDEBAR__________________________________________*/
/*.sidebar{
	border-right: 2px solid #DDDDDD;
}*/
.lk-sidebar{
	border-right: 2px solid #dddddd;
}
.lk-sidebar__title{
	color: #009028;
    font-size: 20px;
    font-family: "Raleway-sb";
    text-transform: uppercase;
    position: relative;
    padding: 7px 0 15px;
    margin-bottom: 15px;
    /*border-right: 2px solid #DDDDDD;*/
}
.lk-sidebar__title:after{
	content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% + 15px);
    left: -15px;
    height: 2px;
    background: #DDDDDD;
    transition: transform 0.2s;
}
.lk-sidebar__links{
	display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-bottom: 60px;
    position: relative;
}
.lk-sidebar__links:after {
    content: "";
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% + 15px);
    left: -15px;
    height: 2px;
    background: #DDDDDD;
}
.lk-sidebar__links:last-child{
	padding-top: 15px;
	padding-bottom: 15px;
}
.lk-sidebar__links:last-child:after{
	display: none;
}
.lk-sidebar__links a{
	padding: 12px 0;
    text-decoration: none;
    color: #171717;
    margin-bottom: 5px;
    position: relative;
    font-family: "Raleway-m";
    width: calc(100% - 15px);
}
.lk-sidebar__links a:hover{
	color: #009a2b;
	text-decoration: underline;
}
.lk-sidebar__links a:before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
}
.link-active{
	background: #009a2b;
	color: #fff !important;
	cursor: default;
}
.link-active:before{
	background: #009a2b;
	/*border-left: 5px solid #00671d;*/
}
.link-active:hover{
	text-decoration: none !important;
}




/*КОНТЕНТ ЛИЧНОГО КАБИНЕТА__________________________________*/
.lk-content__item{
	margin-bottom: 30px;
}
.lk-content__item-wrap{
	/*background: #eaeaea;*/
	width: 100%;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #DDDDDD;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    transition: 0.2s;
}
.lk-content__item-wrap:hover{
	border: 2px solid #009a2b;
	background: #f9f9f9;
}
.lk-content__item-img{
	margin-bottom: 7px;
    width: 50px;
}
.lk-content__item-wrap p{
	color: #262626;
	margin-bottom: 0;
}
.lk-content__title-green{
	color: #009028;
    font-family: "Raleway-m";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}
.lk-content__desc{
	margin-bottom: 50px;
	color: #000;
}
.account-slide .lk-sidebar__title:after{
	transform: rotate(90deg);
}
.lk-content__title{
	font-size: 18px;
    font-family: "Raleway-m";
    text-transform: uppercase;
    color: #171717;
    padding: 10px 0;
    margin-bottom: 10px;
}
.order-selection{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}
.order-selection__title, 
.manager__title, 
.set-title{
	font-size: 18px;
	font-family: "Raleway-m";
	margin-bottom: 15px;
}
.order-selection__item, 
.order-selection__item-table{
	margin-bottom: 15px;
	position: relative;
	align-self: baseline;
}
.order-selection__item-table{
	width: 100%;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #009a2b;
    border-bottom: 4px solid #009a2b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 1px;
    top: 1px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #009a2b;
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
.order-selection__icon{
	position: absolute;
    top: -9px;
    right: -21px;
    width: 15px;
    cursor: pointer;
}
.selection-question{
	position: absolute;
    top: 4px;
    right: -270px;
    background: #eaeaea;
    padding: 15px;
    max-width: 250px;
    font-size: 14px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s;
}
.view{
	z-index: 8;
	opacity: 1;
}
.question-view{
	position: relative;
    width: max-content;
}
.order-selection__item-table table{
	width: 100%;
}
.order-selection__item-table th{
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 2px solid #E5E5E5;
}
.order-selection__item-table td{
	padding-bottom: 10px;
}
.order-selection__item-table tr:nth-child(2) td{
	padding-top: 10px;
}
.order-selection__item-table tr td:nth-child(1){
	width: 70%;
}
.order-selection__item-table tr td:nth-child(2){
	width: 15%;
}
.order-selection__item-table tr td:nth-child(3){
	width: 15%;
}
.manager{
	margin-bottom: 15px;
}





/*Форма с бордером*/
.border-box{
	border: 1px solid #000000;
    padding: 25px 30px 15px;
    position: relative;
    margin: 40px 0 25px;
}
.border-box__title{
	font-size: 18px;
    font-family: "Raleway-m";
    position: absolute;
    background: #fff;
    top: -12px;
    left: 27px;
    padding: 0 10px;
}
.border-box__item{
	display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.border-box__item span{
	margin-bottom: 5px;
}
.border-box__item input{
	height: 40px;
	padding: 0 15px;
	outline: none;
	border: 1px solid #000000;
}
.form-btn{
	width: 220px;
    height: 32px;
    background: #009028;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway-m";
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px 0 15px;
}
.border-box__select{
	margin-bottom: 15px;
	text-decoration: underline;
}
.border-box__active{
	color: #009028;
}




/*Блок загрузки_____________*/
.download{
	margin-bottom: 30px;
}
.download>p{
	font-family: "Raleway-m";
	font-size: 18px;
	margin-bottom: 15px
}
.download__item{
	display: flex;
	align-items: center;
	color: #000;
	margin-bottom: 15px;
}
.download__item:hover{
	color: #009028 !important;
}
.download__item-icon{
	width: 20px;
	margin-right: 15px;
}



/*ПОПАП ОКНО С ВЫБОРОМ ГОРОДА _________________________________*/
#popup-locat{
	display: none;
	max-width: 700px;
	padding: 25px;
}
.popup-locat__title{
	font-size: 20px;
    text-transform: uppercase;
    color: #009028;
    font-family: "Raleway-sb";
    margin-bottom: 7px;
}
.popup-locat__desc{
	font-size: 14px;
	margin-bottom: 25px;
}
.popup-locat__item-img{
	width: 9px;
    height: 12px;
}
.popup-locat__items{
	display: flex;
	flex-wrap: wrap;
}
.popup-locat__item{
	display: flex;
    align-items: center;
    width: 33.33333%;
    margin-bottom: 15px;
}
.popup-locat__item-link{
    border: 1px solid #009A2B;
    color: #272727;
    text-decoration: none;
    padding: 6px 15px;
    width: 100%;
    margin-right: 15px;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    border-radius: 30px;
}
.popup-locat__item-link:hover{
	background: #009A2B;
    color: #fff;
    padding-left: 18px;
}
.popup-locat__selected{
	font-size: 12px;
	font-family: Raleway-sb;
	margin: 10px 0;
	color: #000;
}
.popup-locat__selected span{
	color: #009A2B;
	font-family: Raleway-sb;
}
.locat-active{
    color: #029029;
    cursor: default;
}
.locat-active:hover{
	background: none;
	color: #029029;
    padding-left: 15px;
}
.locat-active .popup-locat__item-img{
	display: none;
}



/*Форма поиска___________________________________________*/
.head-login__bottom-form{
	padding-bottom: 3px;
	display: flex;
	align-items: flex-end;
}
.head-login__bottom-form form{
	width: 100%;
	display: flex;
	align-items: flex-end;
	margin-left: 20px;
	position: relative;
}
.head-login__bottom-form input{
	width: 100%;
	height: 37px;
	border-radius: 30px;
	padding: 5px 15px;
	border: none;
	outline: none;
}
.head-login__bottom-form button{
	position: absolute;
	right: 6px;
	top: 5px;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}
.head-login__bottom-form button:after{
	content: "";
    background: url(../img/svg/search.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17px;
    height: 20px;
    display: block;
}



/*Акции________________*/
.sale-prew{
	background: rgba(0, 0, 0, 0.10);
	padding: 30px 0 30px;
}
.sale-prew h2{
	margin-bottom: 25px;
}
.sale-prew__item{
	margin-bottom: 20px;
}
.sale-prew__item__wrap{
	position: relative;
	height: 100%;
	display: flex;
	overflow: hidden;
	text-decoration: none;
}
.sale-prew__item-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	transition: 0.2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.sale-prew__item__wrap:hover .sale-prew__item-img{
	transform: scale(1.05);
}
.sale-prew__item-text{
	background: linear-gradient(90.47deg, #000000 0.17%, rgba(0, 0, 0, 0.58) 65.83%, rgba(196, 196, 196, 0.17) 99.84%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 35px 20px;
}
.sale-prew__item-title{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "Raleway-sb";
	margin-bottom: 10px;
}
.sale-prew__item-date{
	color: #009028;
	font-size: 16px;
	font-family: "Raleway-sb";
}






/*Футер страницы__________________________*/
footer{
	background: #212121;
	padding: 40px 0 50px;
}
footer p{
	color: #fff;
}
.footer__logo{
	width: 170px;
	margin-bottom: 45px;
}
.footer__logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.footer__contacts{
	margin-bottom: 65px;
}
.footer__contacts-img{
	margin-right: 10px;
}
.footer__contacts-item{
	color: #fff;
	display: flex;
	margin-bottom: 15px;
}
.footer__contacts-item p{
	margin-bottom: 0;
}
.footer__soc{
	display: flex;
	margin-bottom: 40px;
}
.footer__soc-item{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
}
.footer__soc-item:hover{
	transform: scale(1.07);
}
.footer__facebook{
	background: #3B5A9A;
}
.footer__twitter{
	background: #28A9E2;
}
.footer__google{
	background: #E04A39;
}
.footer__insta{
	background: #567D9C;
}
.footer__pinterest{
	background: #CC2129
}
.footer__soc-img{
	width: 18px;
	height: 18px;
}
.footer__item-title{
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #009028;
	font-family: "Raleway-sb";
}
.footer__item-link a{
	color: #fff;
	text-decoration: none;
	margin-bottom: 5px;
	padding: 5px 0;
	display: flex;
	width: max-content;
	transition: 0.2s;
}
.footer__item-link a:hover{
	color: #009028;
	text-decoration: underline;
}
.footer__item-desc{
	margin-bottom: 30px;
}
.footer__pseudo-call{
	position: relative;
	display: flex;
	align-items: center;
}
.footer__pseudo-call input{
	width: 100%;
	height: 38px;
	border-radius: 30px;
	border: 1px solid #DDDDDD;
	color: #fff;
	background: none;
	padding: 0 15px;
	outline: none;
	font-size: 16px;
}
.footer__pseudo-call input::-webkit-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input:-ms-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input::-ms-input-placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call input::placeholder { color: #FFFFFF; font-size: 16px;}
.footer__pseudo-call button {
   	background: url(../img/svg/arrow-right-white.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    width: 22px;
    height: 22px;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    outline: none;
    background-color: #0e6726;
    background-position: center;
    border-radius: 100%;
}




/*Иконка открытия и закрытия меню на мобильной версии*/
.burger{
	display: none;
	align-items: center;
    position: absolute;
    right: 15px;
}
.burger-item{
	width: 25px;
	height: 23px;
	border-top: 3px solid #fff;
}
.burger-item:before, 
.burger-item:after{
	content: "";
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: 10px;
}
.burger-item:after{
	bottom: 0;
}
.close-nav{
	position: absolute;
    top: 7px;
    right: 0px;
    padding: 15px;
    display: none;
}
.close-nav__icon{
	width: 20px;
	height: 20px;
}







