@font-face {
  font-family: "Raleway-r";
  src: url("../fonts/Raleway-Regular.woff");
}
@font-face {
  font-family: "Raleway-m";
  src: url("../fonts/Raleway-Medium.woff");
}
@font-face {
  font-family: "Raleway-b";
  src: url("../fonts/Raleway-Bold.woff");
}
@font-face {
  font-family: "Raleway-sb";
  src: url("../fonts/Raleway-SemiBold.woff");
}


*{
	font-family: "Raleway-m";
	margin: 0;
	padding: 0;
}
h1{
	
}
h2{
	
}
h3{
	
}

/*СТИЛИ ДЛЯ ХЕДЕРА _________________________________*/
header{
	
}
